## Import Libararies

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\envs\web_scraper\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\admin\anaconda3\envs\web_scraper\lib\site-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\admin\anaconda3\envs\web_scraper\lib\site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\anaconda3\envs\web_scraper\lib\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\envs\web_scraper\lib\site-packages (from scikit-learn) (3.4.0)

In [2]:
import pandas as pd
import numpy as np
# from sklearn.neighbors import NearestNeighbors
# from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor

In [3]:
# # Function to read all sheets from an Excel file
# def read_all_sheets_from_excel(filepath):
#     xls = pd.ExcelFile(filepath)
#     df_dict = {}
#     for sheet_name in xls.sheet_names:
#         df_dict[sheet_name] = xls.parse(sheet_name)
#     return df_dict

In [4]:
# # List of file paths
# file_paths = ['AFG_Player_Data.xlsx', 'AUS_Player_Data.xlsx', 'BAN_Player_Data.xlsx', 'ENG_Player_Data.xlsx', 'IND_Player_Data.xlsx', 'NZL_Player_Data.xlsx', 'PAK_Player_Data.xlsx', 'SAF_Player_Data.xlsx', 'SRL_Player_Data.xlsx', 'WIN_Player_Data.xlsx']

In [5]:
# # Reading all files
# all_dataframes = {}
# for file_path in file_paths:
#     all_dataframes[file_path.split('_')[0]] = read_all_sheets_from_excel(file_path)

# print('Dataframe keys of dataframes:' + ', '.join(all_dataframes.keys()))

## Load Data

In [6]:
# Load the datasets
afg_df = pd.read_excel('AFG_Player_Data.xlsx')
aus_df = pd.read_excel('AUS_Player_Data.xlsx')
ban_df = pd.read_excel('BAN_Player_Data.xlsx')
eng_df = pd.read_excel('ENG_Player_Data.xlsx')
ind_df = pd.read_excel('IND_Player_Data.xlsx')
nzl_df = pd.read_excel('NZL_Player_Data.xlsx')
pak_df = pd.read_excel('PAK_Player_Data.xlsx')
saf_df = pd.read_excel('SAF_Player_Data.xlsx')
srl_df = pd.read_excel('SRL_Player_Data.xlsx')
win_df = pd.read_excel('WIN_Player_Data.xlsx')

## Data Pre-processing

In [7]:
afg_df.tail()

,Name,Known As,Born,Career,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best
24,Sharafuddin Ashraf*,Sharafuddin Ashraf,10/01/1995,2014-,20.0,12.0,70.0,0.0,21*,8.75,14.0,0.0,46.5,4.42,3/29
25,Usman Ghani*,Usman Ghani,20/11/1996,2014-,17.0,17.0,435.0,1.0,118*,25.59,1.0,0.0,34,5.37,1/21
26,Yamin Ahmadzai*,Yamin Ahmadzai,25/07/1992,2015-,9.0,5.0,9.0,0.0,5*,3.00,7.0,0.0,43.43,5.36,2/34
27,Zia-Ur-Rehman*,Zia-Ur-Rehman,30/12/1997,2023-,1.0,1.0,5.0,0.0,5*,5.00,0.0,0.0,-,6.29,0/22
28,Total Players = 28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
afg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      29 non-null     object
 1   Known As  28 non-null     object
 2   Born      28 non-null     object
 3   Career    28 non-null     object
 4   Matches   28 non-null     float64
 5   Inns      28 non-null     float64
 6   Runs      28 non-null     float64
 7   100s      28 non-null     float64
 8   HS        28 non-null     object
 9   Bat Avg   28 non-null     float64
 10  Wkts      28 non-null     float64
 11  4W        28 non-null     float64
 12  Bowl Avg  28 non-null     object
 13  E/R       28 non-null     object
 14  Best      24 non-null     object
dtypes: float64(7), object(8)
memory usage: 3.5+ KB

In [9]:
afg_df.isnull().sum()

Name        0
Known As    1
Born        1
Career      1
Matches     1
Inns        1
Runs        1
100s        1
HS          1
Bat Avg     1
Wkts        1
4W          1
Bowl Avg    1
E/R         1
Best        5
dtype: int64

In [10]:
# Removing Last column which has Number of Players
afg_df = afg_df.iloc[:-1]
aus_df = aus_df.iloc[:-1]
ban_df = ban_df.iloc[:-1]
eng_df = eng_df.iloc[:-1]
ind_df = ind_df.iloc[:-1]
nzl_df = nzl_df.iloc[:-1]
pak_df = pak_df.iloc[:-1]
saf_df = saf_df.iloc[:-1]
srl_df = srl_df.iloc[:-1]
win_df = win_df.iloc[:-1]

In [11]:
pak_df.tail()

,Name,Known As,Born,Career,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best
24,Shan Masood*,Shan Masood,14/10/1989,2019-,9.0,9.0,163.0,0.0,50*,18.11,0.0,0.0,-,-,NaN
25,Sohaib Maqsood*,Sohaib Maqsood,15/04/1987,2013-,29.0,28.0,781.0,0.0,89,30.04,1.0,0.0,42,4.67,1/16
26,Usama Mir*,Usama Mir,23/12/1995,2023-,12.0,6.0,40.0,0.0,20*,6.67,15.0,1.0,42.27,5.98,4/43
27,Zahid Mahmood*,Zahid Mahmood,20/03/1988,2022-,4.0,2.0,9.0,0.0,9*,9.00,4.0,0.0,55,6.11,2/59
28,Zaman Khan*,Zaman Khan,10/09/2001,2023-,1.0,0.0,0.0,0.0,0*,0.00,0.0,0.0,-,6.5,0/39

In [12]:
# df_names = [afg_df, aus_df, ban_df, eng_df, ind_df, nzl_df, pak_df, saf_df, srl_df, win_df]
country_code = ['AFG','AUS','BAN','ENG','IND','NZL','PAK','SAF','SRL','WIN']

In [13]:
# Function to Create Player ID Column
player_list = [] # Global variable
def create_player_id_col(df_no, no_of_players):
    player_no = 1
    while player_no != no_of_players:
        player_id = f'{country_code[df_no]}_{player_no}'
        player_no += 1
        
        global player_list
        player_list.append(player_id)
    player_no = 1
    # Swap
    temp_list = player_list
    player_list = []
    return temp_list
# print(create_player_id_col(0, (afg_df.shape[0] + 1)))

afg_df['Player ID'] = create_player_id_col(0, (afg_df.shape[0] + 1) ) # +1 as counting of rows start from 0
aus_df['Player ID'] = create_player_id_col(1, (aus_df.shape[0] + 1) )
ban_df['Player ID'] = create_player_id_col(2, (ban_df.shape[0] + 1) )
eng_df['Player ID'] = create_player_id_col(3, (eng_df.shape[0] + 1) )
ind_df['Player ID'] = create_player_id_col(4, (ind_df.shape[0] + 1) )
nzl_df['Player ID'] = create_player_id_col(5, (nzl_df.shape[0] + 1) )
pak_df['Player ID'] = create_player_id_col(6, (pak_df.shape[0] + 1) )
saf_df['Player ID'] = create_player_id_col(7, (saf_df.shape[0] + 1) )
srl_df['Player ID'] = create_player_id_col(8, (srl_df.shape[0] + 1) )
win_df['Player ID'] = create_player_id_col(9, (win_df.shape[0] + 1) )

In [14]:
ind_df.tail()

,Name,Known As,Born,Career,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
43,Umran Malik*,Umran Malik,22/11/1989,2022-,10.0,4.0,2.0,0.0,2,2.00,13.0,0.0,30.69,6.54,3/57,IND_44
44,J D Unadkat*,Jaydev Unadkat,18/10/1991,2013-,8.0,0.0,0.0,0.0,0*,0.00,9.0,1.0,25,3.95,4/41,IND_45
45,Washington Sundar*,Washington Sundar,05/10/1999,2017-,19.0,11.0,265.0,0.0,51*,26.50,18.0,0.0,28.94,4.92,3/30,IND_46
46,J Yadav*,Jayant Yadav,22/01/1990,2016-,2.0,2.0,3.0,0.0,2*,3.00,1.0,0.0,61,4.36,1/8,IND_47
47,S A Yadav*,Suryakumar Yadav,14/09/1990,2021-,37.0,35.0,773.0,0.0,72,25.77,0.0,0.0,-,8.5,0/17,IND_48

In [15]:
# Concat all dfs one over the other
player_df = pd.concat([afg_df, aus_df, ban_df, eng_df, ind_df, nzl_df, pak_df, saf_df, srl_df, win_df], ignore_index=True)

In [16]:
player_df.tail()

,Name,Known As,Born,Career,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
373,R Shepherd*,Romario Shepherd,26/11/1994,2019-,31.0,25.0,397.0,0.0,50*,18.05,27.0,0.0,40.11,5.55,3/37,WIN_39
374,K Sinclair*,Kevin Sinclair,23/11/1999,2022-,7.0,3.0,38.0,0.0,25*,19.00,11.0,2.0,25.64,4.44,4/24,WIN_40
375,O F Smith*,Odean Smith,01/11/1996,2022-,9.0,8.0,199.0,0.0,46*,28.43,9.0,0.0,29,5.53,2/29,WIN_41
376,O R Thomas*,Oshane Thomas,18/02/1997,2018-,25.0,14.0,22.0,0.0,7*,3.67,31.0,2.0,33.35,6.74,5/21,WIN_42
377,H R Walsh*,Hayden Walsh,23/04/1992,2019-,22.0,12.0,148.0,0.0,46,16.44,28.0,2.0,32.96,5.39,5/39,WIN_43

In [17]:
player_df.shape

(378, 16)

In [18]:
player_df = player_df.drop(['Born', 'Career'], axis=1)
player_df

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman*,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai*,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad*,Fareed Ahmad,17.0,7.0,42.0,0.0,17*,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi*,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar*,A M Ghazanfar,2.0,1.0,5.0,0.0,5*,5.00,0.0,0.0,-,5.22,0/13,AFG_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,R Shepherd*,Romario Shepherd,31.0,25.0,397.0,0.0,50*,18.05,27.0,0.0,40.11,5.55,3/37,WIN_39
374,K Sinclair*,Kevin Sinclair,7.0,3.0,38.0,0.0,25*,19.00,11.0,2.0,25.64,4.44,4/24,WIN_40
375,O F Smith*,Odean Smith,9.0,8.0,199.0,0.0,46*,28.43,9.0,0.0,29,5.53,2/29,WIN_41
376,O R Thomas*,Oshane Thomas,25.0,14.0,22.0,0.0,7*,3.67,31.0,2.0,33.35,6.74,5/21,WIN_42
377,H R Walsh*,Hayden Walsh,22.0,12.0,148.0,0.0,46,16.44,28.0,2.0,32.96,5.39,5/39,WIN_43

In [19]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       378 non-null    object
 1   Known As   378 non-null    object
 2   Matches    378 non-null    float64
 3   Inns       378 non-null    float64
 4   Runs       378 non-null    float64
 5   100s       378 non-null    float64
 6   HS         378 non-null    object
 7   Bat Avg    378 non-null    float64
 8   Wkts       378 non-null    float64
 9   4W         378 non-null    float64
 10  Bowl Avg   378 non-null    object
 11  E/R        378 non-null    object
 12  Best       294 non-null    object
 13  Player ID  378 non-null    object
dtypes: float64(7), object(7)
memory usage: 41.5+ KB

In [20]:
# # Removing '-' from dataset
# hyphen_index = player_df[player_df['Bowl Avg'].str.strip() == '-'].index.to_list()
# print(hyphen_index)
# new_vals = [0.0] * len(hyphen_index)
# # print(new_vals)
# for index, val in zip(hyphen_index, new_vals):
#     player_df.loc[index, 'Bowl Avg'] = val


# player_df['Bowl Avg'].str.replace('-', '0.0')

#player_df = player_df['Bowl Avg']

In [21]:
# Function to Remove '-' from columns
def remove_hyphens(*col_names): # Multiple Args
    for col in col_names:
        hyphen_index = player_df[player_df[col].str.strip() == '-'].index.to_list()
        new_vals = [0.0] * len(hyphen_index)
        
        for index, val in zip(hyphen_index, new_vals):
            player_df.loc[index, col] = val

In [22]:
remove_hyphens('Bowl Avg', 'E/R')

In [23]:
# # check hyphens
# for rec in player_df['Bowl Avg']:
#     if str(rec).strip() == '-':
#         print('Hyphen found')

In [24]:
player_df.head(26)

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman*,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai*,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad*,Fareed Ahmad,17.0,7.0,42.0,0.0,17*,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi*,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar*,A M Ghazanfar,2.0,1.0,5.0,0.0,5*,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5
5,Gulbadin Naib*,Gulbadin Naib,82.0,71.0,1231.0,0.0,82,19.85,73.0,4.0,35.6,5.55,6/43,AFG_6
6,Hashmatullah Shahidi*,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97,34.23,0.0,0.0,0.0,8.33,0/8,AFG_7
7,Ibrahim Zadran*,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162*,48.00,0.0,0.0,0.0,0.0,NaN,AFG_8
8,Ikram Ali Khil*,Ikram Ali Khil,26.0,20.0,375.0,0.0,86*,25.00,0.0,0.0,0.0,0.0,NaN,AFG_9
9,Karim Janat*,Karim Janat,3.0,3.0,32.0,0.0,22*,10.67,0.0,0.0,0.0,6.92,0/20,AFG_10
10,Mohammad Nabi*,Mohammad Nabi,161.0,142.0,3447.0,2.0,136*,27.14,169.0,5.0,32.01,4.27,5/17,AFG_11
11,Mohammad Saleem*,Mohammad Saleem,2.0,0.0,0.0,0.0,0*,0.00,0.0,0.0,0.0,6.77,0/34,AFG_12
12,Mujeeb Ur Rahman*,Mujeeb Ur Rahman,75.0,39.0,236.0,0.0,64*,9.08,101.0,4.0,28.35,4.33,5/50,AFG_13
13,Najibullah Zadran*,Najibullah Zadran,92.0,84.0,2060.0,1.0,104,29.01,0.0,0.0,0.0,6,0/9,AFG_14
14,Nangeyalia Kharote*,Nangeyalia Kharote,1.0,1.0,10.0,0.0,10*,10.00,4.0,1.0,7.5,3.33,4/30,AFG_15
15,Naveed Zadran*,Naveed Zadran,1.0,1.0,9.0,0.0,9,0.00,0.0,0.0,0.0,7,0/21,AFG_16
16,Naveen-ul-Haq*,Naveen-ul-Haq,15.0,10.0,37.0,0.0,10,7.40,22.0,1.0,32.18,6.15,4/42,AFG_17
17,Noor Ahmad*,Noor Ahmad,10.0,4.0,31.0,0.0,26*,10.33,9.0,0.0,57.22,6.06,3/49,AFG_18
18,Qais Ahmad*,Qais Ahmad,3.0,2.0,12.0,0.0,11*,6.00,6.0,0.0,22.17,6.14,3/32,AFG_19
19,Rahmanullah Gurbaz*,Rahmanullah Gurbaz,40.0,40.0,1467.0,6.0,151*,37.62,0.0,0.0,0.0,0.0,NaN,AFG_20
20,Rahmat Shah*,Rahmat Shah,111.0,107.0,3730.0,5.0,114*,36.21,15.0,1.0,35.47,5.88,5/32,AFG_21
21,Rashid Khan*,Rashid Khan,103.0,81.0,1316.0,0.0,60,19.64,183.0,10.0,20.48,4.24,7/18,AFG_22
22,Riaz Hassan*,Riaz Hassan,5.0,4.0,120.0,0.0,50*,30.00,0.0,0.0,0.0,0.0,NaN,AFG_23
23,Shahidullah Kamal*,Shahidullah Kamal,3.0,3.0,39.0,0.0,37*,13.00,0.0,0.0,0.0,5.33,0/16,AFG_24
24,Sharafuddin Ashraf*,Sharafuddin Ashraf,20.0,12.0,70.0,0.0,21*,8.75,14.0,0.0,46.5,4.42,3/29,AFG_25
25,Usman Ghani*,Usman Ghani,17.0,17.0,435.0,1.0,118*,25.59,1.0,0.0,34,5.37,1/21,AFG_26

In [25]:
player_df['Name'] = player_df['Name'].str.replace('*', '', regex=True)

In [26]:
player_df.head()

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad,Fareed Ahmad,17.0,7.0,42.0,0.0,17*,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar,A M Ghazanfar,2.0,1.0,5.0,0.0,5*,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5

In [27]:
# Remove '*' at the end of some values in High Score Col
asterisk_presence = player_df['HS'].str.endswith('*')
# print(asterisk_presence)
asterisk_presence = asterisk_presence.fillna(False)
# print(asterisk_presence)
player_df.loc[asterisk_presence, 'HS'] = player_df.loc[asterisk_presence, 'HS'].str.rstrip('*')

In [28]:
player_df.head(26)

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad,Fareed Ahmad,17.0,7.0,42.0,0.0,17,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar,A M Ghazanfar,2.0,1.0,5.0,0.0,5,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5
5,Gulbadin Naib,Gulbadin Naib,82.0,71.0,1231.0,0.0,82,19.85,73.0,4.0,35.6,5.55,6/43,AFG_6
6,Hashmatullah Shahidi,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97,34.23,0.0,0.0,0.0,8.33,0/8,AFG_7
7,Ibrahim Zadran,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162,48.00,0.0,0.0,0.0,0.0,NaN,AFG_8
8,Ikram Ali Khil,Ikram Ali Khil,26.0,20.0,375.0,0.0,86,25.00,0.0,0.0,0.0,0.0,NaN,AFG_9
9,Karim Janat,Karim Janat,3.0,3.0,32.0,0.0,22,10.67,0.0,0.0,0.0,6.92,0/20,AFG_10
10,Mohammad Nabi,Mohammad Nabi,161.0,142.0,3447.0,2.0,136,27.14,169.0,5.0,32.01,4.27,5/17,AFG_11
11,Mohammad Saleem,Mohammad Saleem,2.0,0.0,0.0,0.0,0,0.00,0.0,0.0,0.0,6.77,0/34,AFG_12
12,Mujeeb Ur Rahman,Mujeeb Ur Rahman,75.0,39.0,236.0,0.0,64,9.08,101.0,4.0,28.35,4.33,5/50,AFG_13
13,Najibullah Zadran,Najibullah Zadran,92.0,84.0,2060.0,1.0,104,29.01,0.0,0.0,0.0,6,0/9,AFG_14
14,Nangeyalia Kharote,Nangeyalia Kharote,1.0,1.0,10.0,0.0,10,10.00,4.0,1.0,7.5,3.33,4/30,AFG_15
15,Naveed Zadran,Naveed Zadran,1.0,1.0,9.0,0.0,9,0.00,0.0,0.0,0.0,7,0/21,AFG_16
16,Naveen-ul-Haq,Naveen-ul-Haq,15.0,10.0,37.0,0.0,10,7.40,22.0,1.0,32.18,6.15,4/42,AFG_17
17,Noor Ahmad,Noor Ahmad,10.0,4.0,31.0,0.0,26,10.33,9.0,0.0,57.22,6.06,3/49,AFG_18
18,Qais Ahmad,Qais Ahmad,3.0,2.0,12.0,0.0,11,6.00,6.0,0.0,22.17,6.14,3/32,AFG_19
19,Rahmanullah Gurbaz,Rahmanullah Gurbaz,40.0,40.0,1467.0,6.0,151,37.62,0.0,0.0,0.0,0.0,NaN,AFG_20
20,Rahmat Shah,Rahmat Shah,111.0,107.0,3730.0,5.0,114,36.21,15.0,1.0,35.47,5.88,5/32,AFG_21
21,Rashid Khan,Rashid Khan,103.0,81.0,1316.0,0.0,60,19.64,183.0,10.0,20.48,4.24,7/18,AFG_22
22,Riaz Hassan,Riaz Hassan,5.0,4.0,120.0,0.0,50,30.00,0.0,0.0,0.0,0.0,NaN,AFG_23
23,Shahidullah Kamal,Shahidullah Kamal,3.0,3.0,39.0,0.0,37,13.00,0.0,0.0,0.0,5.33,0/16,AFG_24
24,Sharafuddin Ashraf,Sharafuddin Ashraf,20.0,12.0,70.0,0.0,21,8.75,14.0,0.0,46.5,4.42,3/29,AFG_25
25,Usman Ghani,Usman Ghani,17.0,17.0,435.0,1.0,118,25.59,1.0,0.0,34,5.37,1/21,AFG_26

In [29]:
player_df['Best'] = player_df['Best'].fillna(0)

In [30]:
player_df.head(10)

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad,Fareed Ahmad,17.0,7.0,42.0,0.0,17,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar,A M Ghazanfar,2.0,1.0,5.0,0.0,5,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5
5,Gulbadin Naib,Gulbadin Naib,82.0,71.0,1231.0,0.0,82,19.85,73.0,4.0,35.6,5.55,6/43,AFG_6
6,Hashmatullah Shahidi,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97,34.23,0.0,0.0,0.0,8.33,0/8,AFG_7
7,Ibrahim Zadran,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162,48.00,0.0,0.0,0.0,0.0,0,AFG_8
8,Ikram Ali Khil,Ikram Ali Khil,26.0,20.0,375.0,0.0,86,25.00,0.0,0.0,0.0,0.0,0,AFG_9
9,Karim Janat,Karim Janat,3.0,3.0,32.0,0.0,22,10.67,0.0,0.0,0.0,6.92,0/20,AFG_10

In [31]:
player_df['Name'] = player_df['Known As']
player_df = player_df.drop('Known As', axis=1)

In [32]:
player_df.head(26)

,Name,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad,17.0,7.0,42.0,0.0,17,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar,2.0,1.0,5.0,0.0,5,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5
5,Gulbadin Naib,82.0,71.0,1231.0,0.0,82,19.85,73.0,4.0,35.6,5.55,6/43,AFG_6
6,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97,34.23,0.0,0.0,0.0,8.33,0/8,AFG_7
7,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162,48.00,0.0,0.0,0.0,0.0,0,AFG_8
8,Ikram Ali Khil,26.0,20.0,375.0,0.0,86,25.00,0.0,0.0,0.0,0.0,0,AFG_9
9,Karim Janat,3.0,3.0,32.0,0.0,22,10.67,0.0,0.0,0.0,6.92,0/20,AFG_10
10,Mohammad Nabi,161.0,142.0,3447.0,2.0,136,27.14,169.0,5.0,32.01,4.27,5/17,AFG_11
11,Mohammad Saleem,2.0,0.0,0.0,0.0,0,0.00,0.0,0.0,0.0,6.77,0/34,AFG_12
12,Mujeeb Ur Rahman,75.0,39.0,236.0,0.0,64,9.08,101.0,4.0,28.35,4.33,5/50,AFG_13
13,Najibullah Zadran,92.0,84.0,2060.0,1.0,104,29.01,0.0,0.0,0.0,6,0/9,AFG_14
14,Nangeyalia Kharote,1.0,1.0,10.0,0.0,10,10.00,4.0,1.0,7.5,3.33,4/30,AFG_15
15,Naveed Zadran,1.0,1.0,9.0,0.0,9,0.00,0.0,0.0,0.0,7,0/21,AFG_16
16,Naveen-ul-Haq,15.0,10.0,37.0,0.0,10,7.40,22.0,1.0,32.18,6.15,4/42,AFG_17
17,Noor Ahmad,10.0,4.0,31.0,0.0,26,10.33,9.0,0.0,57.22,6.06,3/49,AFG_18
18,Qais Ahmad,3.0,2.0,12.0,0.0,11,6.00,6.0,0.0,22.17,6.14,3/32,AFG_19
19,Rahmanullah Gurbaz,40.0,40.0,1467.0,6.0,151,37.62,0.0,0.0,0.0,0.0,0,AFG_20
20,Rahmat Shah,111.0,107.0,3730.0,5.0,114,36.21,15.0,1.0,35.47,5.88,5/32,AFG_21
21,Rashid Khan,103.0,81.0,1316.0,0.0,60,19.64,183.0,10.0,20.48,4.24,7/18,AFG_22
22,Riaz Hassan,5.0,4.0,120.0,0.0,50,30.00,0.0,0.0,0.0,0.0,0,AFG_23
23,Shahidullah Kamal,3.0,3.0,39.0,0.0,37,13.00,0.0,0.0,0.0,5.33,0/16,AFG_24
24,Sharafuddin Ashraf,20.0,12.0,70.0,0.0,21,8.75,14.0,0.0,46.5,4.42,3/29,AFG_25
25,Usman Ghani,17.0,17.0,435.0,1.0,118,25.59,1.0,0.0,34,5.37,1/21,AFG_26

In [33]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       378 non-null    object
 1   Matches    378 non-null    float64
 2   Inns       378 non-null    float64
 3   Runs       378 non-null    float64
 4   100s       378 non-null    float64
 5   HS         378 non-null    object
 6   Bat Avg    378 non-null    float64
 7   Wkts       378 non-null    float64
 8   4W         378 non-null    float64
 9   Bowl Avg   378 non-null    object
 10  E/R        378 non-null    object
 11  Best       378 non-null    object
 12  Player ID  378 non-null    object
dtypes: float64(7), object(6)
memory usage: 38.5+ KB

In [34]:
# Changing Datatypes of Cols
# player_df['Matches'] = player_df['Matches'].astype(int)
# player_df['Inns'] = player_df['Inns'].astype(int)
# player_df['100s'] = player_df['100s'].astype(int)
player_df['HS'] = player_df['HS'].astype(float)
# player_df['4W'] = player_df['4W'].astype(int)
player_df['Bowl Avg'] = player_df['Bowl Avg'].astype(float)
player_df['E/R'] = player_df['E/R'].astype(float)

In [35]:
player_df.dtypes

Name          object
Matches      float64
Inns         float64
Runs         float64
100s         float64
HS           float64
Bat Avg      float64
Wkts         float64
4W           float64
Bowl Avg     float64
E/R          float64
Best          object
Player ID     object
dtype: object

In [36]:
# # Converting fraction in Best Col to float
# def frac_to_float(frac_str, precision=2):
#     # removing extra spaces
#     frac_str = frac_str.strip()
    
#     if '/' in frac_str:
#         numerator, denominator = frac_str.split('/')
#         return round((float(numerator) / float(denominator)), precision)
#     else:
#         return round(float(frac_str), precision)

In [37]:
# Deleting Best Bowling Figures due to its Insignificance in our Recommender
player_df = player_df.drop('Best', axis=1)
player_df.head(2)

,Name,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Player ID
0,Abdul Rahman,3.0,3.0,10.0,0.0,4.0,5.00,1.0,0.0,133.00,7.67,AFG_1
1,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149.0,47.93,18.0,0.0,45.78,5.70,AFG_2

In [38]:
new_col_names = {'Inns': 'Innings',
                '100s': 'Centuries',
                'HS': 'High_Score',
                'Bat Avg': 'Bat_Avg',
                '4W': 'Four_Wkts',
                'Bowl Avg': 'Bowl_Avg',
                'E/R': 'Economy_Rate',
                'Player ID': 'Player_ID'}
player_df = player_df.rename(columns=new_col_names)
player_df.head(2)

,Name,Matches,Innings,Runs,Centuries,High_Score,Bat_Avg,Wkts,Four_Wkts,Bowl_Avg,Economy_Rate,Player_ID
0,Abdul Rahman,3.0,3.0,10.0,0.0,4.0,5.00,1.0,0.0,133.00,7.67,AFG_1
1,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149.0,47.93,18.0,0.0,45.78,5.70,AFG_2

### Calculating Number of Not Out Innings
![Bat_Avg_Formula](Bat_Avg_Formula.png)\
[Explaination Video Link](https://www.youtube.com/watch?v=9b3ZlmaoMEc)

In [39]:
def calc_NO(inngs=0.0, runs=0.0, bat_avg=0.0):
    if bat_avg != 0.0:
        runs_per_bat_avg = float(runs) / float(bat_avg)
        no = round( float(inngs) - float(runs_per_bat_avg) )
        return no
    else:
        return 0.0

In [40]:
player_df["Not_Outs"] = player_df.apply(lambda row: calc_NO(row['Innings'], row['Runs'], row['Bat_Avg']), axis=1)

In [41]:
player_df.head(10)

,Name,Matches,Innings,Runs,Centuries,High_Score,Bat_Avg,Wkts,Four_Wkts,Bowl_Avg,Economy_Rate,Player_ID,Not_Outs
0,Abdul Rahman,3.0,3.0,10.0,0.0,4.0,5.00,1.0,0.0,133.00,7.67,AFG_1,1.0
1,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149.0,47.93,18.0,0.0,45.78,5.70,AFG_2,6.0
2,Fareed Ahmad,17.0,7.0,42.0,0.0,17.0,14.00,23.0,0.0,28.22,5.64,AFG_3,4.0
3,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6.0,4.20,44.0,4.0,30.05,5.58,AFG_4,12.0
4,A M Ghazanfar,2.0,1.0,5.0,0.0,5.0,5.00,0.0,0.0,0.00,5.22,AFG_5,0.0
5,Gulbadin Naib,82.0,71.0,1231.0,0.0,82.0,19.85,73.0,4.0,35.60,5.55,AFG_6,9.0
6,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97.0,34.23,0.0,0.0,0.00,8.33,AFG_7,13.0
7,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162.0,48.00,0.0,0.0,0.00,0.00,AFG_8,3.0
8,Ikram Ali Khil,26.0,20.0,375.0,0.0,86.0,25.00,0.0,0.0,0.00,0.00,AFG_9,5.0
9,Karim Janat,3.0,3.0,32.0,0.0,22.0,10.67,0.0,0.0,0.00,6.92,AFG_10,0.0

In [42]:
# Saving this version
player_backup = player_df.copy()

In [43]:
player_backup.tail(3)

,Name,Matches,Innings,Runs,Centuries,High_Score,Bat_Avg,Wkts,Four_Wkts,Bowl_Avg,Economy_Rate,Player_ID,Not_Outs
375,Odean Smith,9.0,8.0,199.0,0.0,46.0,28.43,9.0,0.0,29.00,5.53,WIN_41,1.0
376,Oshane Thomas,25.0,14.0,22.0,0.0,7.0,3.67,31.0,2.0,33.35,6.74,WIN_42,8.0
377,Hayden Walsh,22.0,12.0,148.0,0.0,46.0,16.44,28.0,2.0,32.96,5.39,WIN_43,3.0

In [44]:
# for adding our derived parameters, we remove all primitive parameters
player_df = player_df.drop(['Matches', 'Innings', 'Runs', 'Centuries', 
                            'High_Score', 'Wkts', 'Four_Wkts', 'Bat_Avg', 'Bowl_Avg', 'Economy_Rate', 'Not_Outs'], axis=1)

In [45]:
player_df.tail(3)

              Name Player_ID
375    Odean Smith    WIN_41
376  Oshane Thomas    WIN_42
377   Hayden Walsh    WIN_43

In [46]:
# # Reordering Cols
# new_col_order = ['Player_ID', 'Name', 'Bat_Avg', 'Bowl_Avg', 'Economy_Rate']
# player_df = player_df[new_col_order]

In [47]:
# player_df.tail(3)

# Feature Engineering

In [48]:
# To Calculate the Derived Parameters
def calc_parameters(num=0, deno=1, multiplier=1):
    if deno == 0.0 or num == 0.0:
        return 0.0
    else:
        return ((num / deno) * multiplier)

## Batting Parameters
- Per Innings Parameters indicate the Batting ABILITY of the Player
- Per Match Parameters indicate the Batting CONSISTENCY of the Player

### Runs Scored per Inning
- Higher values indicate a batsman who tends to score a higher number of runs per inning faced.

In [49]:
# Applying function on two cols, row wise...
player_df['Bat_Run_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Runs'], row['Innings']), axis=1)

In [50]:
player_df.head(10)

                   Name Player_ID  Bat_Run_Per_Inngs
0          Abdul Rahman     AFG_1           3.333333
1    Azmatullah Omarzai     AFG_2          34.238095
2          Fareed Ahmad     AFG_3           6.000000
3      Fazalhaq Farooqi     AFG_4           1.235294
4         A M Ghazanfar     AFG_5           5.000000
5         Gulbadin Naib     AFG_6          17.338028
6  Hashmatullah Shahidi     AFG_7          28.525641
7        Ibrahim Zadran     AFG_8          43.636364
8        Ikram Ali Khil     AFG_9          18.750000
9           Karim Janat    AFG_10          10.666667

### Runs Scored per Match
- Higher values suggest a batsman who consistently contributes to the team's total score in each match.

In [51]:
player_df['Bat_Run_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['Runs'], row['Matches']), axis=1)

In [52]:
player_df.tail(10)

                    Name Player_ID  Bat_Run_Per_Inngs  Bat_Run_Per_Match
368        Rovman Powell    WIN_34          20.395833          19.196078
369        Raymon Reifer    WIN_35          10.200000           8.500000
370          Kemar Roach    WIN_36           5.133333           3.242105
371  Sherfane Rutherford    WIN_37          24.000000          24.000000
372        Jayden Seales    WIN_38           3.400000           1.700000
373     Romario Shepherd    WIN_39          15.880000          12.806452
374       Kevin Sinclair    WIN_40          12.666667           5.428571
375          Odean Smith    WIN_41          24.875000          22.111111
376        Oshane Thomas    WIN_42           1.571429           0.880000
377         Hayden Walsh    WIN_43          12.333333           6.727273

### Centuries Scored per Match
- Higher values suggest a batsman who consistently performs exceptionally well by scoring centuries.

In [53]:
player_df['Bat_Cent_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['Centuries'], row['Matches']), axis=1)

In [54]:
player_df.tail(10)

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match
368,Rovman Powell,WIN_34,20.395833,19.196078,0.019608
369,Raymon Reifer,WIN_35,10.200000,8.500000,0.000000
370,Kemar Roach,WIN_36,5.133333,3.242105,0.000000
371,Sherfane Rutherford,WIN_37,24.000000,24.000000,0.000000
372,Jayden Seales,WIN_38,3.400000,1.700000,0.000000
373,Romario Shepherd,WIN_39,15.880000,12.806452,0.000000
374,Kevin Sinclair,WIN_40,12.666667,5.428571,0.000000
375,Odean Smith,WIN_41,24.875000,22.111111,0.000000
376,Oshane Thomas,WIN_42,1.571429,0.880000,0.000000
377,Hayden Walsh,WIN_43,12.333333,6.727273,0.000000

### Centuries Scored per Inning
- Higher values indicate a batsman who tends to score centuries more frequently per inning.

In [55]:
player_df['Bat_Cent_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Centuries'], row['Innings']), axis=1)

In [56]:
player_df.tail(10)

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs
368,Rovman Powell,WIN_34,20.395833,19.196078,0.019608,0.020833
369,Raymon Reifer,WIN_35,10.200000,8.500000,0.000000,0.000000
370,Kemar Roach,WIN_36,5.133333,3.242105,0.000000,0.000000
371,Sherfane Rutherford,WIN_37,24.000000,24.000000,0.000000,0.000000
372,Jayden Seales,WIN_38,3.400000,1.700000,0.000000,0.000000
373,Romario Shepherd,WIN_39,15.880000,12.806452,0.000000,0.000000
374,Kevin Sinclair,WIN_40,12.666667,5.428571,0.000000,0.000000
375,Odean Smith,WIN_41,24.875000,22.111111,0.000000,0.000000
376,Oshane Thomas,WIN_42,1.571429,0.880000,0.000000,0.000000
377,Hayden Walsh,WIN_43,12.333333,6.727273,0.000000,0.000000

In [57]:
# player_df['Bat_Cent_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Centuries'], row['Innings']), axis=1)

### Batting High Score per Match
- Higher values suggest a batsman who consistently achieves high scores in matches.

In [58]:
player_df['Bat_HS_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['High_Score'], row['Matches']), axis=1)

In [59]:
player_df.iloc[80:90]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match
80,Mosaddeck Hossain,BAN_13,18.114286,14.744186,0.000000,0.000000,1.209302
81,Mrittunjoy Chowdhury,BAN_14,8.000000,8.000000,0.000000,0.000000,8.000000
82,Mushfiqur Rahim,BAN_15,30.798419,28.752768,0.033210,0.035573,0.531365
83,Mustafizur Rahman,BAN_16,3.137255,1.538462,0.000000,0.000000,0.192308
84,Najmul Hossain Shanto,BAN_17,31.022727,30.333333,0.066667,0.068182,2.711111
85,Nasum Ahmed,BAN_18,17.333333,10.400000,0.000000,0.000000,2.933333
86,Nurul Hasan,BAN_19,33.000000,23.571429,0.000000,0.000000,6.428571
87,Rishad Hossain,BAN_20,27.000000,18.000000,0.000000,0.000000,16.000000
88,Rony Talukdar,BAN_21,4.000000,4.000000,0.000000,0.000000,4.000000
89,Shakib Al Hasan,BAN_22,32.350427,30.647773,0.036437,0.038462,0.542510

### Batting High Score per Inning
- Higher values indicate a batsman who tends to achieve high scores more frequently per inning.

In [60]:
player_df['Bat_HS_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['High_Score'], row['Innings']), axis=1)

In [61]:
player_df.iloc[70:80]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs
70,Ebadot Hossain,BAN_3,0.500000,0.250000,0.000000,0.000000,0.083333,0.166667
71,Hasan Mahmud,BAN_4,3.500000,2.227273,0.000000,0.000000,0.681818,1.071429
72,Khaled Ahmed,BAN_5,0.500000,0.500000,0.000000,0.000000,0.500000,0.500000
73,Litton Das,BAN_6,28.477778,28.164835,0.054945,0.055556,1.934066,1.955556
74,Mahedi Hasan,BAN_7,12.200000,11.090909,0.000000,0.000000,2.636364,2.900000
75,Mahmudullah,BAN_8,26.663366,23.215517,0.017241,0.019802,0.551724,0.633663
76,Mehidy Hasan Miraz,BAN_9,19.573529,13.721649,0.020619,0.029412,1.154639,1.647059
77,Mohammad Mithun,BAN_10,23.800000,21.000000,0.000000,0.000000,2.147059,2.433333
78,Mohammad Naim,BAN_11,13.571429,11.875000,0.000000,0.000000,3.500000,4.000000
79,Mohammad Saifuddin,BAN_12,19.052632,12.482759,0.000000,0.000000,1.758621,2.684211

### Batting Number of Not Outs
- Higher values indicates batsman's ability to stay at the crease and contribute to the team's score without getting out.

In [62]:
player_df["Bat_Not_Outs"] = player_backup["Not_Outs"]

In [63]:
player_df.iloc[65:70]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs
65,Matthew Wade,AUS_38,22.493976,19.247423,0.010309,0.012048,1.030928,1.204819,12.0
66,David Warner,AUS_39,43.597484,43.055901,0.136646,0.138365,1.111801,1.125786,6.0
67,Adam Zampa,AUS_40,6.104167,2.959596,0.000000,0.000000,0.363636,0.750000,18.0
68,Afif Hossain,BAN_1,22.222222,19.354839,0.000000,0.000000,3.000000,3.444444,6.0
69,Anamul Haque,BAN_2,29.391304,27.591837,0.061224,0.065217,2.448980,2.608696,0.0

## Bowling Parameters
- Per Innings Parameters indicate the Bowling ABILITY of the Player
- Per Match Parameters indicate the Bowling CONSISTENCY of the Player

### Wickets Taken per Match
- Higher values suggest a bowler who consistently contributes to the team's wicket-taking ability in each match.

In [64]:
player_df['Bowl_Wkts_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['Wkts'], row['Matches']), axis=1)

In [65]:
player_df.iloc[90:100]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs,Bowl_Wkts_Per_Match
90,Shamim Hossain,BAN_23,8.250000,8.250000,0.000000,0.000000,4.000000,4.000000,0.0,0.000000
91,Shoriful Islam,BAN_24,4.150000,2.305556,0.000000,0.000000,0.444444,0.800000,9.0,1.555556
92,Soumya Sarkar,BAN_25,31.437500,29.159420,0.043478,0.046875,2.449275,2.640625,4.0,0.217391
93,Taijul Islam,BAN_26,9.166667,5.500000,0.000000,0.000000,1.950000,3.250000,2.0,1.550000
94,Tamim Iqbal,BAN_27,34.820833,34.390947,0.057613,0.058333,0.650206,0.658333,12.0,0.000000
95,Tanzid Hasan,BAN_28,18.785714,17.533333,0.000000,0.000000,5.600000,6.000000,0.0,0.000000
96,Tanzim Hasan Sakib,BAN_29,12.500000,7.142857,0.000000,0.000000,2.571429,4.500000,2.0,1.714286
97,Taskin Ahmed,BAN_30,5.564103,2.972603,0.000000,0.000000,0.287671,0.538462,12.0,1.410959
98,Towhid Hridoy,BAN_31,32.615385,28.266667,0.000000,0.000000,3.200000,3.692308,3.0,0.000000
99,Yasir Ali,BAN_32,14.571429,11.333333,0.000000,0.000000,5.555556,7.142857,0.0,0.000000

### Wickets Taken per Inning
- Higher values indicate a bowler who tends to take a higher number of wickets per inning bowled.

In [66]:
player_df['Bowl_Wkts_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Wkts'], row['Innings']), axis=1)

In [67]:
player_df.iloc[60:65]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs,Bowl_Wkts_Per_Match,Bowl_Wkts_Per_Inngs
60,Mitchell Starc,AUS_33,8.042254,4.719008,0.000000,0.000000,0.429752,0.732394,25.0,1.950413,3.323944
61,Marcus Stoinis,AUS_34,23.603175,21.242857,0.014286,0.015873,2.085714,2.317460,8.0,0.685714,0.761905
62,Will Sutherland,AUS_35,18.000000,9.000000,0.000000,0.000000,9.000000,18.000000,0.0,1.000000,2.000000
63,Mitchell Swepson,AUS_36,2.000000,0.666667,0.000000,0.000000,0.666667,2.000000,0.0,1.000000,3.000000
64,Ashton Turner,AUS_37,27.428571,21.333333,0.000000,0.000000,9.333333,12.000000,1.0,0.222222,0.285714

### Four Wickets Taken per Match
- Higher values suggest a bowler who consistently performs exceptionally well by taking four-wicket hauls.

In [68]:
player_df['Bowl_Four_Wkts_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['Four_Wkts'], row['Matches']), axis=1)

In [69]:
player_df.iloc[70:75]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs,Bowl_Wkts_Per_Match,Bowl_Wkts_Per_Inngs,Bowl_Four_Wkts_Per_Match
70,Ebadot Hossain,BAN_3,0.500000,0.250000,0.000000,0.000000,0.083333,0.166667,4.0,1.833333,3.666667,0.166667
71,Hasan Mahmud,BAN_4,3.500000,2.227273,0.000000,0.000000,0.681818,1.071429,4.0,1.363636,2.142857,0.045455
72,Khaled Ahmed,BAN_5,0.500000,0.500000,0.000000,0.000000,0.500000,0.500000,1.0,1.500000,1.500000,0.000000
73,Litton Das,BAN_6,28.477778,28.164835,0.054945,0.055556,1.934066,1.955556,8.0,0.000000,0.000000,0.000000
74,Mahedi Hasan,BAN_7,12.200000,11.090909,0.000000,0.000000,2.636364,2.900000,2.0,1.272727,1.400000,0.090909

### Four Wickets Taken per Inning
- Higher values indicate a bowler who tends to achieve four-wicket hauls more frequently per inning.

In [70]:
player_df['Bowl_Four_Wkts_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Four_Wkts'], row['Innings']), axis=1)

In [71]:
player_df.iloc[65:70]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs,Bowl_Wkts_Per_Match,Bowl_Wkts_Per_Inngs,Bowl_Four_Wkts_Per_Match,Bowl_Four_Wkts_Per_Inngs
65,Matthew Wade,AUS_38,22.493976,19.247423,0.010309,0.012048,1.030928,1.204819,12.0,0.000000,0.000000,0.000000,0.00
66,David Warner,AUS_39,43.597484,43.055901,0.136646,0.138365,1.111801,1.125786,6.0,0.000000,0.000000,0.000000,0.00
67,Adam Zampa,AUS_40,6.104167,2.959596,0.000000,0.000000,0.363636,0.750000,18.0,1.707071,3.520833,0.121212,0.25
68,Afif Hossain,BAN_1,22.222222,19.354839,0.000000,0.000000,3.000000,3.444444,6.0,0.096774,0.111111,0.000000,0.00
69,Anamul Haque,BAN_2,29.391304,27.591837,0.061224,0.065217,2.448980,2.608696,0.0,0.000000,0.000000,0.000000,0.00

### Bowling Average per Match
- Lower values suggest a bowler who consistently concedes fewer runs per wicket taken in each match.

In [72]:
player_df['Bowl_Avg_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['Bowl_Avg'], row['Matches']), axis=1)

In [73]:
player_df.iloc[65:70]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs,Bowl_Wkts_Per_Match,Bowl_Wkts_Per_Inngs,Bowl_Four_Wkts_Per_Match,Bowl_Four_Wkts_Per_Inngs,Bowl_Avg_Per_Match
65,Matthew Wade,AUS_38,22.493976,19.247423,0.010309,0.012048,1.030928,1.204819,12.0,0.000000,0.000000,0.000000,0.00,0.000000
66,David Warner,AUS_39,43.597484,43.055901,0.136646,0.138365,1.111801,1.125786,6.0,0.000000,0.000000,0.000000,0.00,0.000000
67,Adam Zampa,AUS_40,6.104167,2.959596,0.000000,0.000000,0.363636,0.750000,18.0,1.707071,3.520833,0.121212,0.25,0.283434
68,Afif Hossain,BAN_1,22.222222,19.354839,0.000000,0.000000,3.000000,3.444444,6.0,0.096774,0.111111,0.000000,0.00,0.978387
69,Anamul Haque,BAN_2,29.391304,27.591837,0.061224,0.065217,2.448980,2.608696,0.0,0.000000,0.000000,0.000000,0.00,0.000000

### Bowling Average per Innings
- Lower values indicate a bowler who tends to concede fewer runs per wicket taken per inning.

In [74]:
player_df['Bowl_Avg_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Bowl_Avg'], row['Innings']), axis=1)

In [75]:
player_df.iloc[65:70]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs,Bowl_Wkts_Per_Match,Bowl_Wkts_Per_Inngs,Bowl_Four_Wkts_Per_Match,Bowl_Four_Wkts_Per_Inngs,Bowl_Avg_Per_Match,Bowl_Avg_Per_Inngs
65,Matthew Wade,AUS_38,22.493976,19.247423,0.010309,0.012048,1.030928,1.204819,12.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
66,David Warner,AUS_39,43.597484,43.055901,0.136646,0.138365,1.111801,1.125786,6.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
67,Adam Zampa,AUS_40,6.104167,2.959596,0.000000,0.000000,0.363636,0.750000,18.0,1.707071,3.520833,0.121212,0.25,0.283434,0.584583
68,Afif Hossain,BAN_1,22.222222,19.354839,0.000000,0.000000,3.000000,3.444444,6.0,0.096774,0.111111,0.000000,0.00,0.978387,1.123333
69,Anamul Haque,BAN_2,29.391304,27.591837,0.061224,0.065217,2.448980,2.608696,0.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000

### Bowling Economy Rate per Innings
- Lower values indicate a bowler who tends to maintain a low run rate per over per inning.

In [76]:
player_df['Bowl_Eco_Rate_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Economy_Rate'], row['Innings']), axis=1)

In [77]:
player_df.iloc[65:70]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs,Bowl_Wkts_Per_Match,Bowl_Wkts_Per_Inngs,Bowl_Four_Wkts_Per_Match,Bowl_Four_Wkts_Per_Inngs,Bowl_Avg_Per_Match,Bowl_Avg_Per_Inngs,Bowl_Eco_Rate_Per_Inngs
65,Matthew Wade,AUS_38,22.493976,19.247423,0.010309,0.012048,1.030928,1.204819,12.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
66,David Warner,AUS_39,43.597484,43.055901,0.136646,0.138365,1.111801,1.125786,6.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.050314
67,Adam Zampa,AUS_40,6.104167,2.959596,0.000000,0.000000,0.363636,0.750000,18.0,1.707071,3.520833,0.121212,0.25,0.283434,0.584583,0.113958
68,Afif Hossain,BAN_1,22.222222,19.354839,0.000000,0.000000,3.000000,3.444444,6.0,0.096774,0.111111,0.000000,0.00,0.978387,1.123333,0.215185
69,Anamul Haque,BAN_2,29.391304,27.591837,0.061224,0.065217,2.448980,2.608696,0.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000

### Bowling Economy Rate per Match
- Lower values suggest a bowler who consistently maintains a low run rate per over in each match.

In [78]:
player_df['Bowl_Eco_Rate_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['Economy_Rate'], row['Matches']), axis=1)

In [79]:
player_df.iloc[65:70]

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs,Bowl_Wkts_Per_Match,Bowl_Wkts_Per_Inngs,Bowl_Four_Wkts_Per_Match,Bowl_Four_Wkts_Per_Inngs,Bowl_Avg_Per_Match,Bowl_Avg_Per_Inngs,Bowl_Eco_Rate_Per_Inngs,Bowl_Eco_Rate_Per_Match
65,Matthew Wade,AUS_38,22.493976,19.247423,0.010309,0.012048,1.030928,1.204819,12.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000
66,David Warner,AUS_39,43.597484,43.055901,0.136646,0.138365,1.111801,1.125786,6.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.050314,0.049689
67,Adam Zampa,AUS_40,6.104167,2.959596,0.000000,0.000000,0.363636,0.750000,18.0,1.707071,3.520833,0.121212,0.25,0.283434,0.584583,0.113958,0.055253
68,Afif Hossain,BAN_1,22.222222,19.354839,0.000000,0.000000,3.000000,3.444444,6.0,0.096774,0.111111,0.000000,0.00,0.978387,1.123333,0.215185,0.187419
69,Anamul Haque,BAN_2,29.391304,27.591837,0.061224,0.065217,2.448980,2.608696,0.0,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000

# Model Building

In [90]:
player_df.columns.tolist()

['Name',
 'Player_ID',
 'Bat_Run_Per_Inngs',
 'Bat_Run_Per_Match',
 'Bat_Cent_Per_Match',
 'Bat_Cent_Per_Inngs',
 'Bat_HS_Per_Match',
 'Bat_HS_Per_Inngs',
 'Bat_Not_Outs',
 'Bowl_Wkts_Per_Match',
 'Bowl_Wkts_Per_Inngs',
 'Bowl_Four_Wkts_Per_Match',
 'Bowl_Four_Wkts_Per_Inngs',
 'Bowl_Avg_Per_Match',
 'Bowl_Avg_Per_Inngs',
 'Bowl_Eco_Rate_Per_Inngs',
 'Bowl_Eco_Rate_Per_Match']

In [91]:
bat_features = ['Bat_Run_Per_Inngs',
 'Bat_Run_Per_Match',
 'Bat_Cent_Per_Match',
 'Bat_Cent_Per_Inngs',
 'Bat_HS_Per_Match',
 'Bat_HS_Per_Inngs',
 'Bat_Not_Outs']

In [92]:
bowl_features = ['Bowl_Wkts_Per_Match',
 'Bowl_Wkts_Per_Inngs',
 'Bowl_Four_Wkts_Per_Match',
 'Bowl_Four_Wkts_Per_Inngs',
 'Bowl_Avg_Per_Match',
 'Bowl_Avg_Per_Inngs',
 'Bowl_Eco_Rate_Per_Inngs',
 'Bowl_Eco_Rate_Per_Match']

In [98]:
player_details = player_df[['Player_ID', 'Name']].copy()
player_bat_df = pd.concat([player_details, player_df[bat_features]], axis=1)
player_bowl_df = pd.concat([player_details, player_df[bowl_features]], axis=1)

In [100]:
player_bat_df.head(5)

,Player_ID,Name,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs,Bat_HS_Per_Match,Bat_HS_Per_Inngs,Bat_Not_Outs
0,AFG_1,Abdul Rahman,3.333333,3.333333,0.000000,0.000000,1.333333,1.333333,1.0
1,AFG_2,Azmatullah Omarzai,34.238095,26.629630,0.037037,0.047619,5.518519,7.095238,6.0
2,AFG_3,Fareed Ahmad,6.000000,2.470588,0.000000,0.000000,1.000000,2.428571,4.0
3,AFG_4,Fazalhaq Farooqi,1.235294,0.656250,0.000000,0.000000,0.187500,0.352941,12.0
4,AFG_5,A M Ghazanfar,5.000000,2.500000,0.000000,0.000000,2.500000,5.000000,0.0

In [101]:
player_bowl_df.head(5)

,Player_ID,Name,Bowl_Wkts_Per_Match,Bowl_Wkts_Per_Inngs,Bowl_Four_Wkts_Per_Match,Bowl_Four_Wkts_Per_Inngs,Bowl_Avg_Per_Match,Bowl_Avg_Per_Inngs,Bowl_Eco_Rate_Per_Inngs,Bowl_Eco_Rate_Per_Match
0,AFG_1,Abdul Rahman,0.333333,0.333333,0.000,0.000000,44.333333,44.333333,2.556667,2.556667
1,AFG_2,Azmatullah Omarzai,0.666667,0.857143,0.000,0.000000,1.695556,2.180000,0.271429,0.211111
2,AFG_3,Fareed Ahmad,1.352941,3.285714,0.000,0.000000,1.660000,4.031429,0.805714,0.331765
3,AFG_4,Fazalhaq Farooqi,1.375000,2.588235,0.125,0.235294,0.939063,1.767647,0.328235,0.174375
4,AFG_5,A M Ghazanfar,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,5.220000,2.610000

### Separating Team Data in a Dictionary

In [102]:
# Dictionary which will hold separated Team Data
country_bat_dfs = {}
country_bowl_dfs = {}

In [103]:
# Iterate through the DataFrame and create separate DataFrames for each team
current_team = None
for index, row in player_df.iterrows():
    team = row['Player_ID'].split('_')[0]
    if team != current_team:
        current_team = team
        country_bat_dfs[team] = pd.DataFrame(columns=player_bat_df.columns)
        country_bowl_dfs[team] = pd.DataFrame(columns=player_bowl_df.columns)
        
    country_bat_dfs[team] = pd.concat([country_bat_dfs[team], pd.DataFrame([row], columns=player_bat_df.columns)], ignore_index=True)
    country_bowl_dfs[team] = pd.concat([country_bowl_dfs[team], pd.DataFrame([row], columns=player_bowl_df.columns)], ignore_index=True)

In [108]:
# Batting Dict
for country, team_bat_df in country_bat_dfs.items():
    print(f"Team: {country}")
    print(team_bat_df)
    print("\n")

Team: AFG
   Player_ID                  Name  Bat_Run_Per_Inngs  Bat_Run_Per_Match  \
0      AFG_1          Abdul Rahman           3.333333           3.333333
1      AFG_2    Azmatullah Omarzai          34.238095          26.629630
2      AFG_3          Fareed Ahmad           6.000000           2.470588
3      AFG_4      Fazalhaq Farooqi           1.235294           0.656250
4      AFG_5         A M Ghazanfar           5.000000           2.500000
5      AFG_6         Gulbadin Naib          17.338028          15.012195
6      AFG_7  Hashmatullah Shahidi          28.525641          28.525641
7      AFG_8        Ibrahim Zadran          43.636364          43.636364
8      AFG_9        Ikram Ali Khil          18.750000          14.423077
9     AFG_10           Karim Janat          10.666667          10.666667
10    AFG_11         Mohammad Nabi          24.274648          21.409938
11    AFG_12       Mohammad Saleem           0.000000           0.000000
12    AFG_13      Mujeeb Ur Rahman           6.051282           3.146667
13    AFG_14     Najibullah Zadran          24.523810          22.391304
14    AFG_15    Nangeyalia Kharote          10.000000          10.000000
15    AFG_16         Naveed Zadran           9.000000           9.000000
16    AFG_17         Naveen-ul-Haq           3.700000           2.466667
17    AFG_18            Noor Ahmad           7.750000           3.100000
18    AFG_19            Qais Ahmad           6.000000           4.000000
19    AFG_20    Rahmanullah Gurbaz          36.675000          36.675000
20    AFG_21           Rahmat Shah          34.859813          33.603604
21    AFG_22           Rashid Khan          16.246914          12.776699
22    AFG_23           Riaz Hassan          30.000000          24.000000
23    AFG_24     Shahidullah Kamal          13.000000          13.000000
24    AFG_25    Sharafuddin Ashraf           5.833333           3.500000
25    AFG_26           Usman Ghani          25.588235          25.588235
26    AFG_27        Yamin Ahmadzai           1.800000           1.000000
27    AFG_28         Zia-Ur-Rehman           5.000000           5.000000

    Bat_Cent_Per_Match  Bat_Cent_Per_Inngs  Bat_HS_Per_Match  \
0             0.000000            0.000000          1.333333
1             0.037037            0.047619          5.518519
2             0.000000            0.000000          1.000000
3             0.000000            0.000000          0.187500
4             0.000000            0.000000          2.500000
5             0.000000            0.000000          1.000000
6             0.000000            0.000000          1.243590
7             0.151515            0.151515          4.909091
8             0.000000            0.000000          3.307692
9             0.000000            0.000000          7.333333
10            0.012422            0.014085          0.844720
11            0.000000            0.000000          0.000000
12            0.000000            0.000000          0.853333
13            0.010870            0.011905          1.130435
14            0.000000            0.000000         10.000000
15            0.000000            0.000000          9.000000
16            0.000000            0.000000          0.666667
17            0.000000            0.000000          2.600000
18            0.000000            0.000000          3.666667
19            0.150000            0.150000          3.775000
20            0.045045            0.046729          1.027027
21            0.000000            0.000000          0.582524
22            0.000000            0.000000         10.000000
23            0.000000            0.000000         12.333333
24            0.000000            0.000000          1.050000
25            0.058824            0.058824          6.941176
26            0.000000            0.000000          0.555556
27            0.000000            0.000000          5.000000

    Bat_HS_Per_Inngs  Bat_Not_Outs
0           1.333333           1.0
1           7.095238           6.0
2           2.428571           4.0
3           0.352941          12.0
4           5.000000           0.0
5           1.154930           9.0
6           1.243590          13.0
7           4.909091           3.0
8           4.300000           5.0
9           7.333333           0.0
10          0.957746          15.0
11          0.000000           0.0
12          1.641026          13.0
13          1.238095          13.0
14         10.000000           0.0
15          9.000000           0.0
16          1.000000           5.0
17          6.500000           1.0
18          5.500000           0.0
19          3.775000           1.0
20          1.065421           4.0
21          0.740741          14.0
22         12.500000           0.0
23         12.333333           0.0
24          1.750000           4.0
25          6.941176           0.0
26          1.000000           2.0
27          5.000000           0.0


Team: AUS
   Player_ID                Name  Bat_Run_Per_Inngs  Bat_Run_Per_Match  \
0      AUS_1         Sean Abbott          19.800000          14.142857
1      AUS_2         Ashton Agar          17.888889          14.636364
2      AUS_3            Wes Agar          25.000000          25.000000
3      AUS_4     Xavier Bartlett           0.000000           0.000000
4      AUS_5   Jason Behrendorff           3.500000           1.750000
5      AUS_6          Alex Carey          27.484848          25.194444
6      AUS_7       Dan Christian          15.166667          13.650000
7      AUS_8         Pat Cummins           8.631579           5.590909
8      AUS_9           Tim David          11.250000          11.250000
9     AUS_10        Nathan Ellis           9.000000           7.875000
10    AUS_11         Aaron Finch          38.070423          37.027397
11    AUS_12  Jake Fraser-Mcgurk          25.500000          25.500000
12    AUS_13       Cameron Green          25.090909          21.230769
13    AUS_14        Aaron Hardie          10.333333           7.750000
14    AUS_15      Josh Hazlewood           3.906250           1.453488
15    AUS_16         Travis Head          38.661290          36.876923
16    AUS_17    Moises Henriques           7.800000           7.312500
17    AUS_18         Josh Inglis          21.631579          19.571429
18    AUS_19     Spencer Johnson           0.000000           0.000000
19    AUS_20   Matthew Kuhnemann           8.000000           4.000000
20    AUS_21  Marnus Labuschagne          35.234043          31.846154
21    AUS_22      Mitchell Marsh          31.435294          30.022472
22    AUS_23       Glenn Maxwell          30.669291          28.224638
23    AUS_24       Ben McDermott          44.600000          44.600000
24    AUS_25      Riley Meredith           0.000000           0.000000
25    AUS_26        Lance Morris           0.000000           0.000000
26    AUS_27       Michael Neser           2.750000           2.750000
27    AUS_28       Josh Philippe          21.666667          21.666667
28    AUS_29     Jhye Richardson          10.333333           6.200000
29    AUS_30      Tanveer Sangha           0.000000           0.000000
30    AUS_31       Matthew Short          17.333333          13.000000
31    AUS_32         Steve Smith          38.352113          34.468354
32    AUS_33      Mitchell Starc           8.042254           4.719008
33    AUS_34      Marcus Stoinis          23.603175          21.242857
34    AUS_35     Will Sutherland          18.000000           9.000000
35    AUS_36    Mitchell Swepson           2.000000           0.666667
36    AUS_37       Ashton Turner          27.428571          21.333333
37    AUS_38        Matthew Wade          22.493976          19.247423
38    AUS_39        David Warner          43.597484          43.055901
39    AUS_40          Adam Zampa           6.104167           2.959596

    Bat_Cent_Per_Match  Bat_Cent_Per_Inngs  Bat_HS_Per_Match  \
0             0.000000            0.000000          3.285714
1             0.000000            0.000000          2.181818
2             0.000000            0.000000         20.500000
3             0.000000            0.000000          0.000000
4             0.000000            0.000000          0.916667
5             0.013889            0.015152          1.472222
6             0.000000            0.000000          1.950000
7             0.000000            0.000000          0.420455
8             0.000000            0.000000          8.750000
9             0.000000            0.000000          2.250000
10            0.116438            0.119718          1.047945
11            0.000000            0.000000         20.500000
12            0.000000            0.000000          3.423077
13            0.000000            0.000000          6.500000
14            0.000000            0.000000          0.267442
15            0.076923            0.080645          2.338462
16            0.000000            0.000000          1.375000
17            0.000000            0.000000          3.095238
18            0.000000            0.000000          0.000000
19            0.000000            0.000000          3.750000
20            0.038462            0.042553          2.384615
21            0.033708            0.035294          1.988764
22            0.028986            0.031496          1.456522
23            0.200000            0.200000         20.800000
24            0.000000            0.000000          0.000000
25            0.000000            0.000000          0.000000
26            0.000000            0.000000          1.500000
27            0.000000            0.000000         13.000000
28            0.000000            0.000000          1.933333
29            0.000000            0.000000          0.000000
30            0.000000            0.000000         10.250000
31            0.075949            0.084507          1.037975
32            0.000000            0.000000          0.429752
33            0.014286            0.015873          2.085714
34            0.000000            0.000000          9.000000
35            0.000000            0.000000          0.666667
36            0.000000            0.000000          9.333333
37            0.010309            0.012048          1.030928
38            0.136646            0.138365          1.111801
39            0.000000            0.000000          0.363636

    Bat_HS_Per_Inngs  Bat_Not_Outs
0           4.600000           1.0
1           2.666667           5.0
2          20.500000           0.0
3           0.000000           0.0
4           1.833333           3.0
5           1.606061          11.0
6           2.166667           5.0
7           0.649123          21.0
8           8.750000           0.0
9           2.571429           4.0
10          1.077465           3.0
11         20.500000           0.0
12          4.045455           8.0
13          8.666667           0.0
14          0.718750          25.0
15          2.451613           5.0
16          1.466667           2.0
17          3.421053           1.0
18          0.000000           0.0
19          7.500000           0.0
20          2.638298           3.0
21          2.082353          11.0
22          1.582677          17.0
23         20.800000           0.0
24          0.000000           0.0
25          0.000000           0.0
26          1.500000           0.0
27         13.000000           0.0
28          3.222222           4.0
29          0.000000           0.0
30         13.666667           0.0
31          1.154930          18.0
32          0.732394          25.0
33          2.317460           8.0
34         18.000000           0.0
35          2.000000           0.0
36         12.000000           1.0
37          1.204819          12.0
38          1.125786           6.0
39          0.750000          18.0


Team: BAN
   Player_ID                   Name  Bat_Run_Per_Inngs  Bat_Run_Per_Match  \
0      BAN_1           Afif Hossain          22.222222          19.354839
1      BAN_2           Anamul Haque          29.391304          27.591837
2      BAN_3         Ebadot Hossain           0.500000           0.250000
3      BAN_4           Hasan Mahmud           3.500000           2.227273
4      BAN_5           Khaled Ahmed           0.500000           0.500000
5      BAN_6             Litton Das          28.477778          28.164835
6      BAN_7           Mahedi Hasan          12.200000          11.090909
7      BAN_8            Mahmudullah          26.663366          23.215517
8      BAN_9     Mehidy Hasan Miraz          19.573529          13.721649
9     BAN_10        Mohammad Mithun          23.800000          21.000000
10    BAN_11          Mohammad Naim          13.571429          11.875000
11    BAN_12     Mohammad Saifuddin          19.052632          12.482759
12    BAN_13      Mosaddeck Hossain          18.114286          14.744186
13    BAN_14   Mrittunjoy Chowdhury           8.000000           8.000000
14    BAN_15        Mushfiqur Rahim          30.798419          28.752768
15    BAN_16      Mustafizur Rahman           3.137255           1.538462
16    BAN_17  Najmul Hossain Shanto          31.022727          30.333333
17    BAN_18            Nasum Ahmed          17.333333          10.400000
18    BAN_19            Nurul Hasan          33.000000          23.571429
19    BAN_20         Rishad Hossain          27.000000          18.000000
20    BAN_21          Rony Talukdar           4.000000           4.000000
21    BAN_22        Shakib Al Hasan          32.350427          30.647773
22    BAN_23         Shamim Hossain           8.250000           8.250000
23    BAN_24         Shoriful Islam           4.150000           2.305556
24    BAN_25          Soumya Sarkar          31.437500          29.159420
25    BAN_26           Taijul Islam           9.166667           5.500000
26    BAN_27            Tamim Iqbal          34.820833          34.390947
27    BAN_28           Tanzid Hasan          18.785714          17.533333
28    BAN_29     Tanzim Hasan Sakib          12.500000           7.142857
29    BAN_30           Taskin Ahmed           5.564103           2.972603
30    BAN_31          Towhid Hridoy          32.615385          28.266667
31    BAN_32              Yasir Ali          14.571429          11.333333
32    BAN_33            Zakir Hasan           1.000000           0.500000

    Bat_Cent_Per_Match  Bat_Cent_Per_Inngs  Bat_HS_Per_Match  \
0             0.000000            0.000000          3.000000
1             0.061224            0.065217          2.448980
2             0.000000            0.000000          0.083333
3             0.000000            0.000000          0.681818
4             0.000000            0.000000          0.500000
5             0.054945            0.055556          1.934066
6             0.000000            0.000000          2.636364
7             0.017241            0.019802          0.551724
8             0.020619            0.029412          1.154639
9             0.000000            0.000000          2.147059
10            0.000000            0.000000          3.500000
11            0.000000            0.000000          1.758621
12            0.000000            0.000000          1.209302
13            0.000000            0.000000          8.000000
14            0.033210            0.035573          0.531365
15            0.000000            0.000000          0.192308
16            0.066667            0.068182          2.711111
17            0.000000            0.000000          2.933333
18            0.000000            0.000000          6.428571
19            0.000000            0.000000         16.000000
20            0.000000            0.000000          4.000000
21            0.036437            0.038462          0.542510
22            0.000000            0.000000          4.000000
23            0.000000            0.000000          0.444444
24            0.043478            0.046875          2.449275
25            0.000000            0.000000          1.950000
26            0.057613            0.058333          0.650206
27            0.000000            0.000000          5.600000
28            0.000000            0.000000          2.571429
29            0.000000            0.000000          0.287671
30            0.000000            0.000000          3.200000
31            0.000000            0.000000          5.555556
32            0.000000            0.000000          0.500000

    Bat_HS_Per_Inngs  Bat_Not_Outs
0           3.444444           6.0
1           2.608696           0.0
2           0.166667           4.0
3           1.071429           4.0
4           0.500000           1.0
5           1.955556           8.0
6           2.900000           2.0
7           0.633663          51.0
8           1.647059          11.0
9           2.433333           4.0
10          4.000000           0.0
11          2.684211           9.0
12          1.485714          10.0
13          8.000000           0.0
14          0.569170          42.0
15          0.392157          29.0
16          2.772727           3.0
17          4.888889           2.0
18          9.000000           3.0
19         24.000000           1.0
20          4.000000           0.0
21          0.572650          31.0
22          4.000000           0.0
23          0.800000           9.0
24          2.640625           4.0
25          3.250000           2.0
26          0.658333          12.0
27          6.000000           0.0
28          4.500000           2.0
29          0.538462          12.0
30          3.692308           3.0
31          7.142857           0.0
32          1.000000           0.0


Team: ENG
   Player_ID              Name  Bat_Run_Per_Inngs  Bat_Run_Per_Match  \
0      ENG_1         Moeen Ali          21.026786          17.065217
1      ENG_2      Jofra Archer           2.909091           1.523810
2      ENG_3      Gus Atkinson          10.500000           7.000000
3      ENG_4    Jonny Bairstow          39.469388          36.149533
4      ENG_5     Gary Ballance          19.800000          18.562500
5      ENG_6      Sam Billings          30.521739          25.071429
6      ENG_7       Harry Brook          27.133333          27.133333
7      ENG_8       Jos Buttler          32.610390          27.745856
8      ENG_9      Brydon Carse          17.222222          11.071429
9     ENG_10       Zak Crawley          24.875000          24.875000
10    ENG_11        Sam Curran          19.500000          14.625000
11    ENG_12        Tom Curran          17.823529          10.821429
12    ENG_13       Liam Dawson          12.600000          10.500000
13    ENG_14       Ben Duckett          35.909091          35.909091
14    ENG_15     Lewis Gregory          58.500000          39.000000
15    ENG_16       Samuel Hain          53.000000          53.000000
16    ENG_17       Tom Hartley          12.000000           6.000000
17    ENG_18        Will Jacks          39.428571          39.428571
18    ENG_19      Chris Jordan           7.666667           5.257143
19    ENG_20  Liam Livingstone          25.363636          22.320000
20    ENG_21     Saqib Mahmood          10.000000           2.500000
21    ENG_22       Dawid Malan          48.333333          48.333333
22    ENG_23       Eoin Morgan          33.608696          30.920000
23    ENG_24     Craig Overton          13.600000           9.714286
24    ENG_25    Matt Parkinson           7.000000           1.400000
25    ENG_26       David Payne           0.000000           0.000000
26    ENG_27     Matthew Potts           7.000000           5.250000
27    ENG_28       Adil Rashid          12.147059           6.118519
28    ENG_29       Rehan Ahmed           8.750000           5.833333
29    ENG_30          Joe Root          40.762500          38.140351
30    ENG_31         Jason Roy          38.827273          36.818966
31    ENG_32         Phil Salt          36.411765          32.578947
32    ENG_33  George Scrimshaw           0.000000           0.000000

In [109]:
# Bowling Dict
for country, team_bowl_df in country_bowl_dfs.items():
    print(f"Team: {country}")
    print(team_bowl_df)
    print("\n")

Team: AFG
   Player_ID                  Name  Bowl_Wkts_Per_Match  Bowl_Wkts_Per_Inngs  \
0      AFG_1          Abdul Rahman             0.333333             0.333333
1      AFG_2    Azmatullah Omarzai             0.666667             0.857143
2      AFG_3          Fareed Ahmad             1.352941             3.285714
3      AFG_4      Fazalhaq Farooqi             1.375000             2.588235
4      AFG_5         A M Ghazanfar             0.000000             0.000000
5      AFG_6         Gulbadin Naib             0.890244             1.028169
6      AFG_7  Hashmatullah Shahidi             0.000000             0.000000
7      AFG_8        Ibrahim Zadran             0.000000             0.000000
8      AFG_9        Ikram Ali Khil             0.000000             0.000000
9     AFG_10           Karim Janat             0.000000             0.000000
10    AFG_11         Mohammad Nabi             1.049689             1.190141
11    AFG_12       Mohammad Saleem             0.000000             0.000000
12    AFG_13      Mujeeb Ur Rahman             1.346667             2.589744
13    AFG_14     Najibullah Zadran             0.000000             0.000000
14    AFG_15    Nangeyalia Kharote             4.000000             4.000000
15    AFG_16         Naveed Zadran             0.000000             0.000000
16    AFG_17         Naveen-ul-Haq             1.466667             2.200000
17    AFG_18            Noor Ahmad             0.900000             2.250000
18    AFG_19            Qais Ahmad             2.000000             3.000000
19    AFG_20    Rahmanullah Gurbaz             0.000000             0.000000
20    AFG_21           Rahmat Shah             0.135135             0.140187
21    AFG_22           Rashid Khan             1.776699             2.259259
22    AFG_23           Riaz Hassan             0.000000             0.000000
23    AFG_24     Shahidullah Kamal             0.000000             0.000000
24    AFG_25    Sharafuddin Ashraf             0.700000             1.166667
25    AFG_26           Usman Ghani             0.058824             0.058824
26    AFG_27        Yamin Ahmadzai             0.777778             1.400000
27    AFG_28         Zia-Ur-Rehman             0.000000             0.000000

    Bowl_Four_Wkts_Per_Match  Bowl_Four_Wkts_Per_Inngs  Bowl_Avg_Per_Match  \
0                   0.000000                  0.000000           44.333333
1                   0.000000                  0.000000            1.695556
2                   0.000000                  0.000000            1.660000
3                   0.125000                  0.235294            0.939063
4                   0.000000                  0.000000            0.000000
5                   0.048780                  0.056338            0.434146
6                   0.000000                  0.000000            0.000000
7                   0.000000                  0.000000            0.000000
8                   0.000000                  0.000000            0.000000
9                   0.000000                  0.000000            0.000000
10                  0.031056                  0.035211            0.198820
11                  0.000000                  0.000000            0.000000
12                  0.053333                  0.102564            0.378000
13                  0.000000                  0.000000            0.000000
14                  1.000000                  1.000000            7.500000
15                  0.000000                  0.000000            0.000000
16                  0.066667                  0.100000            2.145333
17                  0.000000                  0.000000            5.722000
18                  0.000000                  0.000000            7.390000
19                  0.000000                  0.000000            0.000000
20                  0.009009                  0.009346            0.319550
21                  0.097087                  0.123457            0.198835
22                  0.000000                  0.000000            0.000000
23                  0.000000                  0.000000            0.000000
24                  0.000000                  0.000000            2.325000
25                  0.000000                  0.000000            2.000000
26                  0.000000                  0.000000            4.825556
27                  0.000000                  0.000000            0.000000

    Bowl_Avg_Per_Inngs  Bowl_Eco_Rate_Per_Inngs  Bowl_Eco_Rate_Per_Match
0            44.333333                 2.556667                 2.556667
1             2.180000                 0.271429                 0.211111
2             4.031429                 0.805714                 0.331765
3             1.767647                 0.328235                 0.174375
4             0.000000                 5.220000                 2.610000
5             0.501408                 0.078169                 0.067683
6             0.000000                 0.106795                 0.106795
7             0.000000                 0.000000                 0.000000
8             0.000000                 0.000000                 0.000000
9             0.000000                 2.306667                 2.306667
10            0.225423                 0.030070                 0.026522
11            0.000000                 0.000000                 3.385000
12            0.726923                 0.111026                 0.057733
13            0.000000                 0.071429                 0.065217
14            7.500000                 3.330000                 3.330000
15            0.000000                 7.000000                 7.000000
16            3.218000                 0.615000                 0.410000
17           14.305000                 1.515000                 0.606000
18           11.085000                 3.070000                 2.046667
19            0.000000                 0.000000                 0.000000
20            0.331495                 0.054953                 0.052973
21            0.252840                 0.052346                 0.041165
22            0.000000                 0.000000                 0.000000
23            0.000000                 1.776667                 1.776667
24            3.875000                 0.368333                 0.221000
25            2.000000                 0.315882                 0.315882
26            8.686000                 1.072000                 0.595556
27            0.000000                 6.290000                 6.290000


Team: AUS
   Player_ID                Name  Bowl_Wkts_Per_Match  Bowl_Wkts_Per_Inngs  \
0      AUS_1         Sean Abbott             1.333333             1.866667
1      AUS_2         Ashton Agar             0.954545             1.166667
2      AUS_3            Wes Agar             0.000000             0.000000
3      AUS_4     Xavier Bartlett             4.000000             0.000000
4      AUS_5   Jason Behrendorff             1.333333             2.666667
5      AUS_6          Alex Carey             0.000000             0.000000
6      AUS_7       Dan Christian             1.000000             1.111111
7      AUS_8         Pat Cummins             1.602273             2.473684
8      AUS_9           Tim David             0.250000             0.250000
9     AUS_10        Nathan Ellis             1.250000             1.428571
10    AUS_11         Aaron Finch             0.027397             0.028169
11    AUS_12  Jake Fraser-Mcgurk             0.000000             0.000000
12    AUS_13       Cameron Green             0.692308             0.818182
13    AUS_14        Aaron Hardie             0.750000             1.000000
14    AUS_15      Josh Hazlewood             1.569767             4.218750
15    AUS_16         Travis Head             0.276923             0.290323
16    AUS_17    Moises Henriques             0.500000             0.533333
17    AUS_18         Josh Inglis             0.000000             0.000000
18    AUS_19     Spencer Johnson             0.000000             0.000000
19    AUS_20   Matthew Kuhnemann             1.500000             3.000000
20    AUS_21  Marnus Labuschagne             0.038462             0.042553
21    AUS_22      Mitchell Marsh             0.629213             0.658824
22    AUS_23       Glenn Maxwell             0.507246             0.551181
23    AUS_24       Ben McDermott             0.000000             0.000000
24    AUS_25      Riley Meredith             0.000000             0.000000
25    AUS_26        Lance Morris             1.000000             0.000000
26    AUS_27       Michael Neser             0.750000             0.750000
27    AUS_28       Josh Philippe             0.000000             0.000000
28    AUS_29     Jhye Richardson             1.800000             3.000000
29    AUS_30      Tanveer Sangha             1.000000             2.000000
30    AUS_31       Matthew Short             0.000000             0.000000
31    AUS_32         Steve Smith             0.177215             0.197183
32    AUS_33      Mitchell Starc             1.950413             3.323944
33    AUS_34      Marcus Stoinis             0.685714             0.761905
34    AUS_35     Will Sutherland             1.000000             2.000000
35    AUS_36    Mitchell Swepson             1.000000             3.000000
36    AUS_37       Ashton Turner             0.222222             0.285714
37    AUS_38        Matthew Wade             0.000000             0.000000
38    AUS_39        David Warner             0.000000             0.000000
39    AUS_40          Adam Zampa             1.707071             3.520833

    Bowl_Four_Wkts_Per_Match  Bowl_Four_Wkts_Per_Inngs  Bowl_Avg_Per_Match  \
0                   0.000000                  0.000000            1.520476
1                   0.000000                  0.000000            2.073636
2                   0.000000                  0.000000            0.000000
3                   1.000000                  0.000000            2.375000
4                   0.083333                  0.166667            2.958333
5                   0.000000                  0.000000            0.000000
6                   0.050000                  0.055556            1.487500
7                   0.079545                  0.122807            0.325795
8                   0.000000                  0.000000            5.000000
9                   0.000000                  0.000000            4.775000
10                  0.000000                  0.000000            0.443493
11                  0.000000                  0.000000            0.000000
12                  0.038462                  0.045455            1.525769
13                  0.000000                  0.000000            7.417500
14                  0.046512                  0.125000            0.306279
15                  0.000000                  0.000000            0.853846
16                  0.000000                  0.000000            2.711250
17                  0.000000                  0.000000            0.000000
18                  0.000000                  0.000000            0.000000
19                  0.000000                  0.000000            7.957500
20                  0.000000                  0.000000            2.211538
21                  0.022472                  0.023529            0.403146
22                  0.028986                  0.031496            0.350290
23                  0.000000                  0.000000            0.000000
24                  0.000000                  0.000000            0.000000
25                  0.000000                  0.000000           18.000000
26                  0.000000                  0.000000           19.917500
27                  0.000000                  0.000000            0.000000
28                  0.066667                  0.111111            1.958000
29                  0.000000                  0.000000           31.250000
30                  0.000000                  0.000000            0.000000
31                  0.000000                  0.000000            0.219494
32                  0.173554                  0.295775            0.189835
33                  0.000000                  0.000000            0.612857
34                  0.000000                  0.000000            8.250000
35                  0.000000                  0.000000           17.890000
36                  0.000000                  0.000000            3.333333
37                  0.000000                  0.000000            0.000000
38                  0.000000                  0.000000            0.000000
39                  0.121212                  0.250000            0.283434

    Bowl_Avg_Per_Inngs  Bowl_Eco_Rate_Per_Inngs  Bowl_Eco_Rate_Per_Match
0             2.128667                 0.360667                 0.257619
1             2.534444                 0.290556                 0.237727
2             0.000000                 1.775000                 1.775000
3             0.000000                 0.000000                 1.175000
4             5.916667                 0.880000                 0.440000
5             0.000000                 0.000000                 0.000000
6             1.652778                 0.272778                 0.245500
7             0.502982                 0.092807                 0.060114
8             5.000000                 2.500000                 2.500000
9             5.457143                 0.852857                 0.746250
10            0.455986                 0.038521                 0.037466
11            0.000000                 0.000000                 0.000000
12            1.803182                 0.258182                 0.218462
13            9.890000                 1.646667                 1.235000
14            0.823125                 0.147813                 0.055000
15            0.895161                 0.091774                 0.087538
16            2.892000                 0.345333                 0.323750
17            0.000000                 0.000000                 0.000000
18            0.000000                 7.630000                 7.630000
19           15.915000                 2.515000                 1.257500
20            2.446809                 0.144681                 0.130769
21            0.422118                 0.064824                 0.061910
22            0.380630                 0.042992                 0.039565
23            0.000000                 0.000000                 0.000000
24            0.000000                 7.200000                 7.200000
25            0.000000                 0.000000                 2.485000
26           19.917500                 1.630000                 1.630000
27            0.000000                 0.000000                 0.000000
28            3.263333                 0.652222                 0.391333
29           62.500000                 6.940000                 3.470000
30            0.000000                 1.833333                 1.375000
31            0.244225                 0.038099                 0.034241
32            0.323521                 0.073380                 0.043058
33            0.680952                 0.095556                 0.086000
34           16.500000                 3.880000                 1.940000
35           53.670000                 6.110000                 2.036667
36            4.285714                 0.612857                 0.476667
37            0.000000                 0.000000                 0.000000
38            0.000000                 0.050314                 0.049689
39            0.584583                 0.113958                 0.055253


Team: BAN
   Player_ID                   Name  Bowl_Wkts_Per_Match  Bowl_Wkts_Per_Inngs  \
0      BAN_1           Afif Hossain             0.096774             0.111111
1      BAN_2           Anamul Haque             0.000000             0.000000
2      BAN_3         Ebadot Hossain             1.833333             3.666667
3      BAN_4           Hasan Mahmud             1.363636             2.142857
4      BAN_5           Khaled Ahmed             1.500000             1.500000
5      BAN_6             Litton Das             0.000000             0.000000
6      BAN_7           Mahedi Hasan             1.272727             1.400000
7      BAN_8            Mahmudullah             0.353448             0.405941
8      BAN_9     Mehidy Hasan Miraz             1.092784             1.558824
9     BAN_10        Mohammad Mithun             0.000000             0.000000
10    BAN_11          Mohammad Naim             0.000000             0.000000
11    BAN_12     Mohammad Saifuddin             1.413793             2.157895
12    BAN_13      Mosaddeck Hossain             0.395349             0.485714
13    BAN_14   Mrittunjoy Chowdhury             0.000000             0.000000
14    BAN_15        Mushfiqur Rahim             0.000000             0.000000
15    BAN_16      Mustafizur Rahman             1.576923             3.215686
16    BAN_17  Najmul Hossain Shanto             0.022222             0.022727
17    BAN_18            Nasum Ahmed             0.800000             1.333333
18    BAN_19            Nurul Hasan             0.000000             0.000000
19    BAN_20         Rishad Hossain             0.333333             0.500000
20    BAN_21          Rony Talukdar             0.000000             0.000000
21    BAN_22        Shakib Al Hasan             1.283401             1.354701
22    BAN_23         Shamim Hossain             0.000000             0.000000
23    BAN_24         Shoriful Islam             1.555556             2.800000
24    BAN_25          Soumya Sarkar             0.217391             0.234375
25    BAN_26           Taijul Islam             1.550000             2.583333
26    BAN_27            Tamim Iqbal             0.000000             0.000000
27    BAN_28           Tanzid Hasan             0.000000             0.000000
28    BAN_29     Tanzim Hasan Sakib             1.714286             3.000000
29    BAN_30           Taskin Ahmed             1.410959             2.641026
30    BAN_31          Towhid Hridoy             0.000000             0.000000
31    BAN_32              Yasir Ali             0.000000             0.000000
32    BAN_33            Zakir Hasan             0.000000             0.000000

    Bowl_Four_Wkts_Per_Match  Bowl_Four_Wkts_Per_Inngs  Bowl_Avg_Per_Match  \
0                   0.000000                  0.000000            0.978387
1                   0.000000                  0.000000            0.000000
2                   0.166667                  0.333333            1.909167
3                   0.045455                  0.071429            1.459091
4                   0.000000                  0.000000           12.000000
5                   0.000000                  0.000000            0.000000
6                   0.090909                  0.100000            2.830909
7                   0.000000                  0.000000            0.199267
8                   0.051546                  0.073529            0.359381
9                   0.000000                  0.000000            0.000000
10                  0.000000                  0.000000            0.000000
11                  0.034483                  0.052632            1.075862
12                  0.000000                  0.000000            1.325581
13                  0.000000                  0.000000            0.000000
14                  0.000000                  0.000000            0.000000
15                  0.096154                  0.196078            0.252500
16                  0.000000                  0.000000            1.666667
17                  0.000000                  0.000000            3.055333
18                  0.000000                  0.000000            0.000000
19                  0.000000                  0.000000           39.000000

## Like-for-Like Batting Replacement

In [125]:
def train_bat_knn_model(player_bat_df):
    X = player_bat_df[bat_features]
    y = player_bat_df['Player_ID']  # 'Player_ID' is the target variable for similarity
    knn_model = KNeighborsRegressor(n_neighbors=6, weights='distance')
    knn_model.fit(X, y)
    return knn_model

In [126]:
def recommend_bat_players(player_id_injured, player_bat_df, knn_model):
    # Retrieving batting statistics for the player to replace
    player_injured_data = player_bat_df[player_bat_df['Player_ID'] == player_id_injured]
    player_injured = player_injured_data['Name'].values[0]

    # Query kNN model to find nearest neighbors
    player_features_injured = player_injured_data[bat_features]
    nearest_neighbor_distances, nearest_neighbor_indices = knn_model.kneighbors(player_features_injured, return_distance=True)
    
    # Generate recommendations based on nearest neighbors
    recommendations = []
    for dist, idx in zip(nearest_neighbor_distances.flatten(), nearest_neighbor_indices.flatten()):
        similar_player_id = player_bat_df.iloc[idx]['Player_ID']
        similar_player_name = player_bat_df.iloc[idx]['Name']
        recommendations.append((similar_player_name, similar_player_id, dist))

    return recommendations, player_injured

In [144]:
# Sample Batting Recommendation
player_id_injured = 'IND_16'  # Virat Kohli
# player_id_injured = 'AUS_40'  # Adam Zampa

In [145]:
for country, team_bat_df in country_bat_dfs.items():
    country_code = player_id_injured.split('_')[0]
    if country_code == country:
        bat_knn_model = train_bat_knn_model(team_bat_df)
        print(f"Model Traned for Country Code: {country_code}\n\n")
        
        recommended_players, player_injured = recommend_bat_players(player_id_injured, team_bat_df, bat_knn_model)
        print(f"Top Like-for-Like Batting Replacements for {player_injured}:\n")
        
        # to skip first recommendation as it's the same injured player
        first_iter = True
        for name, player_id, distance in recommended_players:
            if first_iter:
                first_iter = False
                continue
                
            # 2nd Recommendation onwards
            print(f"Name: {name}, Player ID: {player_id}, Distance: {distance}")

Model Traned for Country Code: IND


Top Like-for-Like Batting Replacements for Virat Kohli:

Name: Rohit Sharma, Player ID: IND_38, Distance: 12.666414703465831
Name: KL Rahul, Player ID: IND_29, Distance: 32.898297805823674
Name: Shikhar Dhawan, Player ID: IND_8, Distance: 35.58413104351312
Name: Shubman Gill, Player ID: IND_40, Distance: 37.74401466578646
Name: Shreyas Iyer, Player ID: IND_13, Distance: 39.079580692596785

In [ ]:
# recommended_players, player_injured = recommend_bat_players(player_id_injured, player_bat_df, bat_knn_model)

# print(f"Top Like-for-Like Batting Replacements for {player_injured}:")
# for name, player_id, distance in recommended_players:
#     print(f"Name: {name}, Player ID: {player_id}, Distance: {distance}")

## Like-for-Like Bowling Replacement

In [133]:
def train_bowl_knn_model(player_bowl_df):
    X = player_bowl_df[bowl_features]
    y = player_bowl_df['Player_ID']  # 'Player_ID' is the target variable for similarity
    knn_model = KNeighborsRegressor(n_neighbors=6, weights='distance')
    knn_model.fit(X, y)
    return knn_model

In [134]:
def recommend_bowl_players(player_id_injured, player_bowl_df, knn_model):
    # Retrieving bowling statistics for the player to replace
    player_injured_data = player_bowl_df[player_bowl_df['Player_ID'] == player_id_injured]
    player_injured = player_injured_data['Name'].values[0]

    # Query kNN model to find nearest neighbors
    player_features_injured = player_injured_data[bowl_features]
    nearest_neighbor_distances, nearest_neighbor_indices = knn_model.kneighbors(player_features_injured, return_distance=True)
    
    # Generate recommendations based on nearest neighbors
    recommendations = []
    for dist, idx in zip(nearest_neighbor_distances.flatten(), nearest_neighbor_indices.flatten()):
        similar_player_id = player_bowl_df.iloc[idx]['Player_ID']
        similar_player_name = player_bowl_df.iloc[idx]['Name']
        recommendations.append((similar_player_name, similar_player_id, dist))

    return recommendations, player_injured

In [146]:
# Sample Bowling Recommendation
player_id_injured = 'IND_16'  # Virat Kohli
# player_id_injured = 'AUS_40'  # Adam Zampa

In [147]:
for country, team_bowl_df in country_bowl_dfs.items():
    country_code = player_id_injured.split('_')[0]
    if country_code == country:
        bowl_knn_model = train_bowl_knn_model(team_bowl_df)
        print(f"Model Traned for Country Code: {country_code}\n\n")
        
        recommended_players, player_injured = recommend_bowl_players(player_id_injured, team_bowl_df, bowl_knn_model)
        print(f"Top Like-for-Like Bowling Replacements for {player_injured}:\n")
        
        # to skip first recommendation as it's the same injured player
        first_iter = True
        for name, player_id, distance in recommended_players:
            if first_iter:
                first_iter = False
                continue
                
            # 2nd Recommendation onwards
            print(f"Name: {name}, Player ID: {player_id}, Distance: {distance}")

Model Traned for Country Code: IND


Top Like-for-Like Bowling Replacements for Virat Kohli:

Name: Rohit Sharma, Player ID: IND_38, Distance: 0.3557643470495638
Name: Manish Pandey, Player ID: IND_22, Distance: 0.6740814053592367
Name: Shikhar Dhawan, Player ID: IND_8, Distance: 0.6740814053592367
Name: Ruturaj Gaikwad, Player ID: IND_9, Distance: 0.6740814053592367
Name: Ishan Kishan, Player ID: IND_12, Distance: 0.6740814053592367

# Experimentation

## Model Initialization and Fitting

In [ ]:
# # Initialize the NearestNeighbors model
# k = 5  # Number of neighbors
# knn_model = NearestNeighbors(n_neighbors=k, metric='cosine')

In [ ]:
# # Iterating over each country code and its corresponding df
# for country_code, team_df in country_dfs.items():
#     # Standardize the features
#     scaler = StandardScaler()
#     team_df[features] = scaler.fit_transform(team_df[features])
    
#     # Fit the kNN model
#     knn_model.fit(team_df[features])

## Like-for-Like Replacement for Concussed Player

In [ ]:
# # # Concussed Player
# # player_id_to_replace = 'AUS_40' # Adam Zampa

# # # Retrieve player data from team_data dictionary
# # for country_code, team_df in country_dfs.items():
# #     if 'Player_ID' in team_df.columns:
# #         player_data_to_replace = team_df[team_df['Player_ID'] == player_id_to_replace]
# #         if not player_data_to_replace.empty:
# #             break
# #     else:
# #         print("KeyError")

In [ ]:
# # if player_data_to_replace is None or player_data_to_replace.empty:
# #     print(f"Player with ID '{player_id_to_replace}' not found.")
# #     # Handling the case where the player is not found
# # else:
# #     # Query the kNN model to find nearest neighbors
# #     distances, indices = knn_model.kneighbors(player_data_to_replace[features].values.reshape(1, -1))

# #     # Check if the indices are within bounds
# #     if len(indices) > 0 and indices[0].size > 0:
# #         # Get the nearest neighbor indices and corresponding distances
# #         nearest_neighbor_indices = indices.flatten()
# #         nearest_neighbor_distances = distances.flatten()
            
# #         # Generate recommendations based on nearest neighbors
# #         recommendations = []
# #         for idx, dist in zip(nearest_neighbor_indices, nearest_neighbor_distances):
# #             if idx < len(team_df):
# #                 similar_player_data = team_df.iloc[idx]  # Get data of similar player
# #                 recommendations.append((similar_player_data['Player_ID'], dist))  # Store player ID and distance
# #             else:
# #                 print(f"Index {idx} is out of bounds.")
# #     else:
# #         print("No nearest neighbors found.")

In [ ]:
# player_id_to_replace = 'IND_16' # Virat Kohli

# # Retrieve player data from team_data dictionary
# for country_code, team_df in country_dfs.items():
#     # print(f"Country Code: {country_code}")
#     # print(f"Columns: {team_df.columns}")
#     if 'Player_ID' in team_df.columns:
#         player_data_to_replace = team_df[team_df['Player_ID'] == player_id_to_replace]
#         # print(f"Player Data: {player_data_to_replace}")
#         if not player_data_to_replace.empty:
#             break
#     else:
#         print("KeyError")

In [ ]:
# # Query the kNN model to find nearest neighbors
# distances, indices = knn_model.kneighbors(player_data_to_replace[features].values.reshape(1, -1))
# print("Indices:", indices)
# print("Distances:", distances)

In [ ]:
# # Check if the indices are within bounds
# if len(indices) > 0 and indices[0].size > 0:
#     # Get the nearest neighbor indices and corresponding distances
#     nearest_neighbor_indices = indices.flatten()
#     nearest_neighbor_distances = distances.flatten()
        
#     # Generate recommendations based on nearest neighbors
#     recommendations = []
#     for idx, dist in zip(nearest_neighbor_indices, nearest_neighbor_distances):
#         # print(f"Index: {idx}, DataFrame Length: {len(team_df)}")
#         if idx < len(team_df):
#             similar_player_data = team_df.iloc[idx]  # Get data of similar player
#             # print(similar_player_data)
#             recommendations.append((similar_player_data['Player_ID'], similar_player_data['Name'], dist))  # Store player ID and distance
#         else:
#             print(f"Index {idx} is out of bounds.")
# else:
#     print("No nearest neighbors found.")

# # Present recommendations
# print(f"Top Recommendations for Replacement of {player_data_to_replace.Name.values[0]}:")
# for player_id, name, distance, in recommendations:
#     print(f"Player ID: {player_id}, Name: {name}, Distance: {distance}")

In [ ]:
# similar_player_data