## Import Libararies

In [1]:
import pandas as pd
import numpy as np

In [2]:
# # Function to read all sheets from an Excel file
# def read_all_sheets_from_excel(filepath):
#     xls = pd.ExcelFile(filepath)
#     df_dict = {}
#     for sheet_name in xls.sheet_names:
#         df_dict[sheet_name] = xls.parse(sheet_name)
#     return df_dict

In [3]:
# # List of file paths
# file_paths = ['AFG_Player_Data.xlsx', 'AUS_Player_Data.xlsx', 'BAN_Player_Data.xlsx', 'ENG_Player_Data.xlsx', 'IND_Player_Data.xlsx', 'NZL_Player_Data.xlsx', 'PAK_Player_Data.xlsx', 'SAF_Player_Data.xlsx', 'SRL_Player_Data.xlsx', 'WIN_Player_Data.xlsx']

In [4]:
# # Reading all files
# all_dataframes = {}
# for file_path in file_paths:
#     all_dataframes[file_path.split('_')[0]] = read_all_sheets_from_excel(file_path)

# print('Dataframe keys of dataframes:' + ', '.join(all_dataframes.keys()))

## Load Data

In [5]:
# Load the datasets
afg_df = pd.read_excel('AFG_Player_Data.xlsx')
aus_df = pd.read_excel('AUS_Player_Data.xlsx')
ban_df = pd.read_excel('BAN_Player_Data.xlsx')
eng_df = pd.read_excel('ENG_Player_Data.xlsx')
ind_df = pd.read_excel('IND_Player_Data.xlsx')
nzl_df = pd.read_excel('NZL_Player_Data.xlsx')
pak_df = pd.read_excel('PAK_Player_Data.xlsx')
saf_df = pd.read_excel('SAF_Player_Data.xlsx')
srl_df = pd.read_excel('SRL_Player_Data.xlsx')
win_df = pd.read_excel('WIN_Player_Data.xlsx')

## Data Pre-processing

In [6]:
afg_df.tail()

,Name,Known As,Born,Career,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best
24,Sharafuddin Ashraf*,Sharafuddin Ashraf,10/01/1995,2014-,20.0,12.0,70.0,0.0,21*,8.75,14.0,0.0,46.5,4.42,3/29
25,Usman Ghani*,Usman Ghani,20/11/1996,2014-,17.0,17.0,435.0,1.0,118*,25.59,1.0,0.0,34,5.37,1/21
26,Yamin Ahmadzai*,Yamin Ahmadzai,25/07/1992,2015-,9.0,5.0,9.0,0.0,5*,3.00,7.0,0.0,43.43,5.36,2/34
27,Zia-Ur-Rehman*,Zia-Ur-Rehman,30/12/1997,2023-,1.0,1.0,5.0,0.0,5*,5.00,0.0,0.0,-,6.29,0/22
28,Total Players = 28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
afg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      29 non-null     object
 1   Known As  28 non-null     object
 2   Born      28 non-null     object
 3   Career    28 non-null     object
 4   Matches   28 non-null     float64
 5   Inns      28 non-null     float64
 6   Runs      28 non-null     float64
 7   100s      28 non-null     float64
 8   HS        28 non-null     object
 9   Bat Avg   28 non-null     float64
 10  Wkts      28 non-null     float64
 11  4W        28 non-null     float64
 12  Bowl Avg  28 non-null     object
 13  E/R       28 non-null     object
 14  Best      24 non-null     object
dtypes: float64(7), object(8)
memory usage: 3.5+ KB

In [8]:
afg_df.isnull().sum()

Name        0
Known As    1
Born        1
Career      1
Matches     1
Inns        1
Runs        1
100s        1
HS          1
Bat Avg     1
Wkts        1
4W          1
Bowl Avg    1
E/R         1
Best        5
dtype: int64

In [9]:
# Removing Last column which has Number of Players
afg_df = afg_df.iloc[:-1]
aus_df = aus_df.iloc[:-1]
ban_df = ban_df.iloc[:-1]
eng_df = eng_df.iloc[:-1]
ind_df = ind_df.iloc[:-1]
nzl_df = nzl_df.iloc[:-1]
pak_df = pak_df.iloc[:-1]
saf_df = saf_df.iloc[:-1]
srl_df = srl_df.iloc[:-1]
win_df = win_df.iloc[:-1]

In [10]:
pak_df.tail()

,Name,Known As,Born,Career,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best
27,Sohaib Maqsood*,Sohaib Maqsood,15/04/1987,2013-,29.0,28.0,781.0,0.0,89,30.04,1.0,0.0,42,4.67,1/16
28,Usama Mir*,Usama Mir,23/12/1995,2023-,12.0,6.0,40.0,0.0,20*,6.67,15.0,1.0,42.27,5.98,4/43
29,Usman Qadir*,Usman Qadir,10/08/1993,2021-,1.0,0.0,0.0,0.0,0*,0.00,1.0,0.0,48,5.33,1/48
30,Zahid Mahmood*,Zahid Mahmood,20/03/1988,2022-,4.0,2.0,9.0,0.0,9*,9.00,4.0,0.0,55,6.11,2/59
31,Zaman Khan*,Zaman Khan,10/09/2001,2023-,1.0,0.0,0.0,0.0,0*,0.00,0.0,0.0,-,6.5,0/39

In [11]:
# df_names = [afg_df, aus_df, ban_df, eng_df, ind_df, nzl_df, pak_df, saf_df, srl_df, win_df]
country_code = ['AFG','AUS','BAN','ENG','IND','NZL','PAK','SAF','SRL','WIN']

In [12]:
# Function to Create Player ID Column
player_list = [] # Global variable
def create_player_id_col(df_no, no_of_players):
    player_no = 1
    while player_no != no_of_players:
        player_id = f'{country_code[df_no]}_{player_no}'
        player_no += 1
        
        global player_list
        player_list.append(player_id)
    player_no = 1
    # Swap
    temp_list = player_list
    player_list = []
    return temp_list
# print(create_player_id_col(0, (afg_df.shape[0] + 1)))

afg_df['Player ID'] = create_player_id_col(0, (afg_df.shape[0] + 1) ) # +1 as counting of rows start from 0
aus_df['Player ID'] = create_player_id_col(1, (aus_df.shape[0] + 1) )
ban_df['Player ID'] = create_player_id_col(2, (ban_df.shape[0] + 1) )
eng_df['Player ID'] = create_player_id_col(3, (eng_df.shape[0] + 1) )
ind_df['Player ID'] = create_player_id_col(4, (ind_df.shape[0] + 1) )
nzl_df['Player ID'] = create_player_id_col(5, (nzl_df.shape[0] + 1) )
pak_df['Player ID'] = create_player_id_col(6, (pak_df.shape[0] + 1) )
saf_df['Player ID'] = create_player_id_col(7, (saf_df.shape[0] + 1) )
srl_df['Player ID'] = create_player_id_col(8, (srl_df.shape[0] + 1) )
win_df['Player ID'] = create_player_id_col(9, (win_df.shape[0] + 1) )

In [13]:
ind_df.tail()

,Name,Known As,Born,Career,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
44,Umran Malik*,Umran Malik,22/11/1989,2022-,10.0,4.0,2.0,0.0,2,2.00,13.0,0.0,30.69,6.54,3/57,IND_45
45,J D Unadkat*,Jaydev Unadkat,18/10/1991,2013-,8.0,0.0,0.0,0.0,0*,0.00,9.0,1.0,25,3.95,4/41,IND_46
46,Washington Sundar*,Washington Sundar,05/10/1999,2017-,19.0,11.0,265.0,0.0,51*,26.50,18.0,0.0,28.94,4.92,3/30,IND_47
47,J Yadav*,Jayant Yadav,22/01/1990,2016-,2.0,2.0,3.0,0.0,2*,3.00,1.0,0.0,61,4.36,1/8,IND_48
48,S A Yadav*,Suryakumar Yadav,14/09/1990,2021-,37.0,35.0,773.0,0.0,72,25.77,0.0,0.0,-,8.5,0/17,IND_49

In [14]:
# Concat all dfs one over the other
player_df = pd.concat([afg_df, aus_df, ban_df, eng_df, ind_df, nzl_df, pak_df, saf_df, srl_df, win_df], ignore_index=True)

In [15]:
player_df.tail()

,Name,Known As,Born,Career,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
381,R Shepherd*,Romario Shepherd,26/11/1994,2019-,31.0,25.0,397.0,0.0,50*,18.05,27.0,0.0,40.11,5.55,3/37,WIN_39
382,K Sinclair*,Kevin Sinclair,23/11/1999,2022-,7.0,3.0,38.0,0.0,25*,19.00,11.0,2.0,25.64,4.44,4/24,WIN_40
383,O F Smith*,Odean Smith,01/11/1996,2022-,9.0,8.0,199.0,0.0,46*,28.43,9.0,0.0,29,5.53,2/29,WIN_41
384,O R Thomas*,Oshane Thomas,18/02/1997,2018-,25.0,14.0,22.0,0.0,7*,3.67,31.0,2.0,33.35,6.74,5/21,WIN_42
385,H R Walsh*,Hayden Walsh,23/04/1992,2019-,22.0,12.0,148.0,0.0,46,16.44,28.0,2.0,32.96,5.39,5/39,WIN_43

In [16]:
player_df.shape

(386, 16)

In [17]:
player_df = player_df.drop(['Born', 'Career'], axis=1)
player_df

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman*,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai*,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad*,Fareed Ahmad,17.0,7.0,42.0,0.0,17*,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi*,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar*,A M Ghazanfar,2.0,1.0,5.0,0.0,5*,5.00,0.0,0.0,-,5.22,0/13,AFG_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,R Shepherd*,Romario Shepherd,31.0,25.0,397.0,0.0,50*,18.05,27.0,0.0,40.11,5.55,3/37,WIN_39
382,K Sinclair*,Kevin Sinclair,7.0,3.0,38.0,0.0,25*,19.00,11.0,2.0,25.64,4.44,4/24,WIN_40
383,O F Smith*,Odean Smith,9.0,8.0,199.0,0.0,46*,28.43,9.0,0.0,29,5.53,2/29,WIN_41
384,O R Thomas*,Oshane Thomas,25.0,14.0,22.0,0.0,7*,3.67,31.0,2.0,33.35,6.74,5/21,WIN_42
385,H R Walsh*,Hayden Walsh,22.0,12.0,148.0,0.0,46,16.44,28.0,2.0,32.96,5.39,5/39,WIN_43

In [18]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       386 non-null    object
 1   Known As   386 non-null    object
 2   Matches    386 non-null    float64
 3   Inns       386 non-null    float64
 4   Runs       386 non-null    float64
 5   100s       386 non-null    float64
 6   HS         386 non-null    object
 7   Bat Avg    386 non-null    float64
 8   Wkts       386 non-null    float64
 9   4W         386 non-null    float64
 10  Bowl Avg   386 non-null    object
 11  E/R        386 non-null    object
 12  Best       302 non-null    object
 13  Player ID  386 non-null    object
dtypes: float64(7), object(7)
memory usage: 42.3+ KB

In [19]:
# # Removing '-' from dataset
# hyphen_index = player_df[player_df['Bowl Avg'].str.strip() == '-'].index.to_list()
# print(hyphen_index)
# new_vals = [0.0] * len(hyphen_index)
# # print(new_vals)
# for index, val in zip(hyphen_index, new_vals):
#     player_df.loc[index, 'Bowl Avg'] = val


# player_df['Bowl Avg'].str.replace('-', '0.0')

#player_df = player_df['Bowl Avg']

In [20]:
# Function to Remove '-' from columns
def remove_hyphens(*col_names): # Multiple Args
    for col in col_names:
        hyphen_index = player_df[player_df[col].str.strip() == '-'].index.to_list()
        new_vals = [0.0] * len(hyphen_index)
        
        for index, val in zip(hyphen_index, new_vals):
            player_df.loc[index, col] = val

In [21]:
remove_hyphens('Bowl Avg', 'E/R')

In [22]:
# # check hyphens
# for rec in player_df['Bowl Avg']:
#     if str(rec).strip() == '-':
#         print('Hyphen found')

In [23]:
player_df.head(26)

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman*,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai*,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad*,Fareed Ahmad,17.0,7.0,42.0,0.0,17*,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi*,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar*,A M Ghazanfar,2.0,1.0,5.0,0.0,5*,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5
5,Gulbadin Naib*,Gulbadin Naib,82.0,71.0,1231.0,0.0,82,19.85,73.0,4.0,35.6,5.55,6/43,AFG_6
6,Hashmatullah Shahidi*,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97,34.23,0.0,0.0,0.0,8.33,0/8,AFG_7
7,Ibrahim Zadran*,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162*,48.00,0.0,0.0,0.0,0.0,NaN,AFG_8
8,Ikram Ali Khil*,Ikram Ali Khil,26.0,20.0,375.0,0.0,86*,25.00,0.0,0.0,0.0,0.0,NaN,AFG_9
9,Karim Janat*,Karim Janat,3.0,3.0,32.0,0.0,22*,10.67,0.0,0.0,0.0,6.92,0/20,AFG_10
10,Mohammad Nabi*,Mohammad Nabi,161.0,142.0,3447.0,2.0,136*,27.14,169.0,5.0,32.01,4.27,5/17,AFG_11
11,Mohammad Saleem*,Mohammad Saleem,2.0,0.0,0.0,0.0,0*,0.00,0.0,0.0,0.0,6.77,0/34,AFG_12
12,Mujeeb Ur Rahman*,Mujeeb Ur Rahman,75.0,39.0,236.0,0.0,64*,9.08,101.0,4.0,28.35,4.33,5/50,AFG_13
13,Najibullah Zadran*,Najibullah Zadran,92.0,84.0,2060.0,1.0,104,29.01,0.0,0.0,0.0,6,0/9,AFG_14
14,Nangeyalia Kharote*,Nangeyalia Kharote,1.0,1.0,10.0,0.0,10*,10.00,4.0,1.0,7.5,3.33,4/30,AFG_15
15,Naveed Zadran*,Naveed Zadran,1.0,1.0,9.0,0.0,9,0.00,0.0,0.0,0.0,7,0/21,AFG_16
16,Naveen-ul-Haq*,Naveen-ul-Haq,15.0,10.0,37.0,0.0,10,7.40,22.0,1.0,32.18,6.15,4/42,AFG_17
17,Noor Ahmad*,Noor Ahmad,10.0,4.0,31.0,0.0,26*,10.33,9.0,0.0,57.22,6.06,3/49,AFG_18
18,Qais Ahmad*,Qais Ahmad,3.0,2.0,12.0,0.0,11*,6.00,6.0,0.0,22.17,6.14,3/32,AFG_19
19,Rahmanullah Gurbaz*,Rahmanullah Gurbaz,40.0,40.0,1467.0,6.0,151*,37.62,0.0,0.0,0.0,0.0,NaN,AFG_20
20,Rahmat Shah*,Rahmat Shah,111.0,107.0,3730.0,5.0,114*,36.21,15.0,1.0,35.47,5.88,5/32,AFG_21
21,Rashid Khan*,Rashid Khan,103.0,81.0,1316.0,0.0,60,19.64,183.0,10.0,20.48,4.24,7/18,AFG_22
22,Riaz Hassan*,Riaz Hassan,5.0,4.0,120.0,0.0,50*,30.00,0.0,0.0,0.0,0.0,NaN,AFG_23
23,Shahidullah Kamal*,Shahidullah Kamal,3.0,3.0,39.0,0.0,37*,13.00,0.0,0.0,0.0,5.33,0/16,AFG_24
24,Sharafuddin Ashraf*,Sharafuddin Ashraf,20.0,12.0,70.0,0.0,21*,8.75,14.0,0.0,46.5,4.42,3/29,AFG_25
25,Usman Ghani*,Usman Ghani,17.0,17.0,435.0,1.0,118*,25.59,1.0,0.0,34,5.37,1/21,AFG_26

In [24]:
player_df['Name'] = player_df['Name'].str.replace('*', '', regex=True)

In [25]:
player_df.head()

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad,Fareed Ahmad,17.0,7.0,42.0,0.0,17*,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar,A M Ghazanfar,2.0,1.0,5.0,0.0,5*,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5

In [26]:
# Remove '*' at the end of some values in High Score Col
asterisk_presence = player_df['HS'].str.endswith('*')
# print(asterisk_presence)
asterisk_presence = asterisk_presence.fillna(False)
# print(asterisk_presence)
player_df.loc[asterisk_presence, 'HS'] = player_df.loc[asterisk_presence, 'HS'].str.rstrip('*')

In [27]:
player_df.head(26)

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad,Fareed Ahmad,17.0,7.0,42.0,0.0,17,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar,A M Ghazanfar,2.0,1.0,5.0,0.0,5,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5
5,Gulbadin Naib,Gulbadin Naib,82.0,71.0,1231.0,0.0,82,19.85,73.0,4.0,35.6,5.55,6/43,AFG_6
6,Hashmatullah Shahidi,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97,34.23,0.0,0.0,0.0,8.33,0/8,AFG_7
7,Ibrahim Zadran,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162,48.00,0.0,0.0,0.0,0.0,NaN,AFG_8
8,Ikram Ali Khil,Ikram Ali Khil,26.0,20.0,375.0,0.0,86,25.00,0.0,0.0,0.0,0.0,NaN,AFG_9
9,Karim Janat,Karim Janat,3.0,3.0,32.0,0.0,22,10.67,0.0,0.0,0.0,6.92,0/20,AFG_10
10,Mohammad Nabi,Mohammad Nabi,161.0,142.0,3447.0,2.0,136,27.14,169.0,5.0,32.01,4.27,5/17,AFG_11
11,Mohammad Saleem,Mohammad Saleem,2.0,0.0,0.0,0.0,0,0.00,0.0,0.0,0.0,6.77,0/34,AFG_12
12,Mujeeb Ur Rahman,Mujeeb Ur Rahman,75.0,39.0,236.0,0.0,64,9.08,101.0,4.0,28.35,4.33,5/50,AFG_13
13,Najibullah Zadran,Najibullah Zadran,92.0,84.0,2060.0,1.0,104,29.01,0.0,0.0,0.0,6,0/9,AFG_14
14,Nangeyalia Kharote,Nangeyalia Kharote,1.0,1.0,10.0,0.0,10,10.00,4.0,1.0,7.5,3.33,4/30,AFG_15
15,Naveed Zadran,Naveed Zadran,1.0,1.0,9.0,0.0,9,0.00,0.0,0.0,0.0,7,0/21,AFG_16
16,Naveen-ul-Haq,Naveen-ul-Haq,15.0,10.0,37.0,0.0,10,7.40,22.0,1.0,32.18,6.15,4/42,AFG_17
17,Noor Ahmad,Noor Ahmad,10.0,4.0,31.0,0.0,26,10.33,9.0,0.0,57.22,6.06,3/49,AFG_18
18,Qais Ahmad,Qais Ahmad,3.0,2.0,12.0,0.0,11,6.00,6.0,0.0,22.17,6.14,3/32,AFG_19
19,Rahmanullah Gurbaz,Rahmanullah Gurbaz,40.0,40.0,1467.0,6.0,151,37.62,0.0,0.0,0.0,0.0,NaN,AFG_20
20,Rahmat Shah,Rahmat Shah,111.0,107.0,3730.0,5.0,114,36.21,15.0,1.0,35.47,5.88,5/32,AFG_21
21,Rashid Khan,Rashid Khan,103.0,81.0,1316.0,0.0,60,19.64,183.0,10.0,20.48,4.24,7/18,AFG_22
22,Riaz Hassan,Riaz Hassan,5.0,4.0,120.0,0.0,50,30.00,0.0,0.0,0.0,0.0,NaN,AFG_23
23,Shahidullah Kamal,Shahidullah Kamal,3.0,3.0,39.0,0.0,37,13.00,0.0,0.0,0.0,5.33,0/16,AFG_24
24,Sharafuddin Ashraf,Sharafuddin Ashraf,20.0,12.0,70.0,0.0,21,8.75,14.0,0.0,46.5,4.42,3/29,AFG_25
25,Usman Ghani,Usman Ghani,17.0,17.0,435.0,1.0,118,25.59,1.0,0.0,34,5.37,1/21,AFG_26

In [28]:
player_df['Best'] = player_df['Best'].fillna(0)

In [29]:
player_df.head(10)

,Name,Known As,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad,Fareed Ahmad,17.0,7.0,42.0,0.0,17,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar,A M Ghazanfar,2.0,1.0,5.0,0.0,5,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5
5,Gulbadin Naib,Gulbadin Naib,82.0,71.0,1231.0,0.0,82,19.85,73.0,4.0,35.6,5.55,6/43,AFG_6
6,Hashmatullah Shahidi,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97,34.23,0.0,0.0,0.0,8.33,0/8,AFG_7
7,Ibrahim Zadran,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162,48.00,0.0,0.0,0.0,0.0,0,AFG_8
8,Ikram Ali Khil,Ikram Ali Khil,26.0,20.0,375.0,0.0,86,25.00,0.0,0.0,0.0,0.0,0,AFG_9
9,Karim Janat,Karim Janat,3.0,3.0,32.0,0.0,22,10.67,0.0,0.0,0.0,6.92,0/20,AFG_10

In [30]:
player_df['Name'] = player_df['Known As']
player_df = player_df.drop('Known As', axis=1)

In [31]:
player_df.head(26)

,Name,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Best,Player ID
0,Abdul Rahman,3.0,3.0,10.0,0.0,4,5.00,1.0,0.0,133,7.67,1/83,AFG_1
1,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149,47.93,18.0,0.0,45.78,5.7,3/56,AFG_2
2,Fareed Ahmad,17.0,7.0,42.0,0.0,17,14.00,23.0,0.0,28.22,5.64,3/56,AFG_3
3,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6,4.20,44.0,4.0,30.05,5.58,4/34,AFG_4
4,A M Ghazanfar,2.0,1.0,5.0,0.0,5,5.00,0.0,0.0,0.0,5.22,0/13,AFG_5
5,Gulbadin Naib,82.0,71.0,1231.0,0.0,82,19.85,73.0,4.0,35.6,5.55,6/43,AFG_6
6,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97,34.23,0.0,0.0,0.0,8.33,0/8,AFG_7
7,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162,48.00,0.0,0.0,0.0,0.0,0,AFG_8
8,Ikram Ali Khil,26.0,20.0,375.0,0.0,86,25.00,0.0,0.0,0.0,0.0,0,AFG_9
9,Karim Janat,3.0,3.0,32.0,0.0,22,10.67,0.0,0.0,0.0,6.92,0/20,AFG_10
10,Mohammad Nabi,161.0,142.0,3447.0,2.0,136,27.14,169.0,5.0,32.01,4.27,5/17,AFG_11
11,Mohammad Saleem,2.0,0.0,0.0,0.0,0,0.00,0.0,0.0,0.0,6.77,0/34,AFG_12
12,Mujeeb Ur Rahman,75.0,39.0,236.0,0.0,64,9.08,101.0,4.0,28.35,4.33,5/50,AFG_13
13,Najibullah Zadran,92.0,84.0,2060.0,1.0,104,29.01,0.0,0.0,0.0,6,0/9,AFG_14
14,Nangeyalia Kharote,1.0,1.0,10.0,0.0,10,10.00,4.0,1.0,7.5,3.33,4/30,AFG_15
15,Naveed Zadran,1.0,1.0,9.0,0.0,9,0.00,0.0,0.0,0.0,7,0/21,AFG_16
16,Naveen-ul-Haq,15.0,10.0,37.0,0.0,10,7.40,22.0,1.0,32.18,6.15,4/42,AFG_17
17,Noor Ahmad,10.0,4.0,31.0,0.0,26,10.33,9.0,0.0,57.22,6.06,3/49,AFG_18
18,Qais Ahmad,3.0,2.0,12.0,0.0,11,6.00,6.0,0.0,22.17,6.14,3/32,AFG_19
19,Rahmanullah Gurbaz,40.0,40.0,1467.0,6.0,151,37.62,0.0,0.0,0.0,0.0,0,AFG_20
20,Rahmat Shah,111.0,107.0,3730.0,5.0,114,36.21,15.0,1.0,35.47,5.88,5/32,AFG_21
21,Rashid Khan,103.0,81.0,1316.0,0.0,60,19.64,183.0,10.0,20.48,4.24,7/18,AFG_22
22,Riaz Hassan,5.0,4.0,120.0,0.0,50,30.00,0.0,0.0,0.0,0.0,0,AFG_23
23,Shahidullah Kamal,3.0,3.0,39.0,0.0,37,13.00,0.0,0.0,0.0,5.33,0/16,AFG_24
24,Sharafuddin Ashraf,20.0,12.0,70.0,0.0,21,8.75,14.0,0.0,46.5,4.42,3/29,AFG_25
25,Usman Ghani,17.0,17.0,435.0,1.0,118,25.59,1.0,0.0,34,5.37,1/21,AFG_26

In [32]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       386 non-null    object
 1   Matches    386 non-null    float64
 2   Inns       386 non-null    float64
 3   Runs       386 non-null    float64
 4   100s       386 non-null    float64
 5   HS         386 non-null    object
 6   Bat Avg    386 non-null    float64
 7   Wkts       386 non-null    float64
 8   4W         386 non-null    float64
 9   Bowl Avg   386 non-null    object
 10  E/R        386 non-null    object
 11  Best       386 non-null    object
 12  Player ID  386 non-null    object
dtypes: float64(7), object(6)
memory usage: 39.3+ KB

In [33]:
# Changing Datatypes of Cols
# player_df['Matches'] = player_df['Matches'].astype(int)
# player_df['Inns'] = player_df['Inns'].astype(int)
# player_df['100s'] = player_df['100s'].astype(int)
player_df['HS'] = player_df['HS'].astype(float)
# player_df['4W'] = player_df['4W'].astype(int)
player_df['Bowl Avg'] = player_df['Bowl Avg'].astype(float)
player_df['E/R'] = player_df['E/R'].astype(float)

In [34]:
player_df.dtypes

Name          object
Matches      float64
Inns         float64
Runs         float64
100s         float64
HS           float64
Bat Avg      float64
Wkts         float64
4W           float64
Bowl Avg     float64
E/R          float64
Best          object
Player ID     object
dtype: object

In [35]:
# # Converting fraction in Best Col to float
# def frac_to_float(frac_str, precision=2):
#     # removing extra spaces
#     frac_str = frac_str.strip()
    
#     if '/' in frac_str:
#         numerator, denominator = frac_str.split('/')
#         return round((float(numerator) / float(denominator)), precision)
#     else:
#         return round(float(frac_str), precision)

In [36]:
# Deleting Best Bowling Figures due to its Insignificance in our Recommender
player_df = player_df.drop('Best', axis=1)
player_df.head(2)

,Name,Matches,Inns,Runs,100s,HS,Bat Avg,Wkts,4W,Bowl Avg,E/R,Player ID
0,Abdul Rahman,3.0,3.0,10.0,0.0,4.0,5.00,1.0,0.0,133.00,7.67,AFG_1
1,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149.0,47.93,18.0,0.0,45.78,5.70,AFG_2

In [37]:
new_col_names = {'Inns': 'Innings',
                '100s': 'Centuries',
                'HS': 'High_Score',
                'Bat Avg': 'Bat_Avg',
                '4W': 'Four_Wkts',
                'Bowl Avg': 'Bowl_Avg',
                'E/R': 'Economy_Rate',
                'Player ID': 'Player_ID'}
player_df = player_df.rename(columns=new_col_names)
player_df.head(2)

,Name,Matches,Innings,Runs,Centuries,High_Score,Bat_Avg,Wkts,Four_Wkts,Bowl_Avg,Economy_Rate,Player_ID
0,Abdul Rahman,3.0,3.0,10.0,0.0,4.0,5.00,1.0,0.0,133.00,7.67,AFG_1
1,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149.0,47.93,18.0,0.0,45.78,5.70,AFG_2

### Calculating Number of Not Out Innings
![Bat_Avg_Formula](Bat_Avg_Formula.png)\
[Explaination Video Link](https://www.youtube.com/watch?v=9b3ZlmaoMEc)

In [38]:
def calc_NO(inngs=0.0, runs=0.0, bat_avg=0.0):
    if bat_avg != 0.0:
        runs_per_bat_avg = float(runs) / float(bat_avg)
        no = round( float(inngs) - float(runs_per_bat_avg) )
        return no
    else:
        return 0.0

In [39]:
player_df["Not_Outs"] = player_df.apply(lambda row: calc_NO(row['Innings'], row['Runs'], row['Bat_Avg']), axis=1)

In [40]:
player_df.head(10)

,Name,Matches,Innings,Runs,Centuries,High_Score,Bat_Avg,Wkts,Four_Wkts,Bowl_Avg,Economy_Rate,Player_ID,Not_Outs
0,Abdul Rahman,3.0,3.0,10.0,0.0,4.0,5.00,1.0,0.0,133.00,7.67,AFG_1,1.0
1,Azmatullah Omarzai,27.0,21.0,719.0,1.0,149.0,47.93,18.0,0.0,45.78,5.70,AFG_2,6.0
2,Fareed Ahmad,17.0,7.0,42.0,0.0,17.0,14.00,23.0,0.0,28.22,5.64,AFG_3,4.0
3,Fazalhaq Farooqi,32.0,17.0,21.0,0.0,6.0,4.20,44.0,4.0,30.05,5.58,AFG_4,12.0
4,A M Ghazanfar,2.0,1.0,5.0,0.0,5.0,5.00,0.0,0.0,0.00,5.22,AFG_5,0.0
5,Gulbadin Naib,82.0,71.0,1231.0,0.0,82.0,19.85,73.0,4.0,35.60,5.55,AFG_6,9.0
6,Hashmatullah Shahidi,78.0,78.0,2225.0,0.0,97.0,34.23,0.0,0.0,0.00,8.33,AFG_7,13.0
7,Ibrahim Zadran,33.0,33.0,1440.0,5.0,162.0,48.00,0.0,0.0,0.00,0.00,AFG_8,3.0
8,Ikram Ali Khil,26.0,20.0,375.0,0.0,86.0,25.00,0.0,0.0,0.00,0.00,AFG_9,5.0
9,Karim Janat,3.0,3.0,32.0,0.0,22.0,10.67,0.0,0.0,0.00,6.92,AFG_10,0.0

In [41]:
# Saving this version
player_backup = player_df.copy()

In [42]:
player_backup.tail(3)

,Name,Matches,Innings,Runs,Centuries,High_Score,Bat_Avg,Wkts,Four_Wkts,Bowl_Avg,Economy_Rate,Player_ID,Not_Outs
383,Odean Smith,9.0,8.0,199.0,0.0,46.0,28.43,9.0,0.0,29.00,5.53,WIN_41,1.0
384,Oshane Thomas,25.0,14.0,22.0,0.0,7.0,3.67,31.0,2.0,33.35,6.74,WIN_42,8.0
385,Hayden Walsh,22.0,12.0,148.0,0.0,46.0,16.44,28.0,2.0,32.96,5.39,WIN_43,3.0

In [43]:
# for adding our derived parameters, we remove all primitive parameters
player_df = player_df.drop(['Matches', 'Innings', 'Runs', 'Centuries', 
                            'High_Score', 'Wkts', 'Four_Wkts', 'Bat_Avg', 'Bowl_Avg', 'Economy_Rate', 'Not_Outs'], axis=1)

In [44]:
player_df.tail(3)

              Name Player_ID
383    Odean Smith    WIN_41
384  Oshane Thomas    WIN_42
385   Hayden Walsh    WIN_43

In [45]:
# # Reordering Cols
# new_col_order = ['Player_ID', 'Name', 'Bat_Avg', 'Bowl_Avg', 'Economy_Rate']
# player_df = player_df[new_col_order]

In [46]:
# player_df.tail(3)

# Feature Engineering

In [47]:
# To Calculate the Derived Parameters
def calc_parameters(num=0, deno=1, multiplier=1):
    if deno == 0.0 or num == 0.0:
        return 0.0
    else:
        return ((num / deno) * multiplier)

## Batting Parameters
- Per Innings Parameters indicate the ABILITY of the Player
- Per Match Parameters indicate the CONSISTENCY of the Player

### Batting Runs Per Inning
- Higher values indicate a batsman who tends to score a higher number of runs per inning faced.

In [48]:
# Applying function on two cols, row wise...
player_df['Bat_Run_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Runs'], row['Innings']), axis=1)

In [49]:
player_df.head(10)

                   Name Player_ID  Bat_Run_Per_Inngs
0          Abdul Rahman     AFG_1           3.333333
1    Azmatullah Omarzai     AFG_2          34.238095
2          Fareed Ahmad     AFG_3           6.000000
3      Fazalhaq Farooqi     AFG_4           1.235294
4         A M Ghazanfar     AFG_5           5.000000
5         Gulbadin Naib     AFG_6          17.338028
6  Hashmatullah Shahidi     AFG_7          28.525641
7        Ibrahim Zadran     AFG_8          43.636364
8        Ikram Ali Khil     AFG_9          18.750000
9           Karim Janat    AFG_10          10.666667

### Batting Runs Per Match
- Higher values suggest a batsman who consistently contributes to the team's total score in each match.

In [50]:
player_df['Bat_Run_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['Runs'], row['Matches']), axis=1)

In [51]:
player_df.tail(10)

                    Name Player_ID  Bat_Run_Per_Inngs  Bat_Run_Per_Match
376        Rovman Powell    WIN_34          20.395833          19.196078
377        Raymon Reifer    WIN_35          10.200000           8.500000
378          Kemar Roach    WIN_36           5.133333           3.242105
379  Sherfane Rutherford    WIN_37          24.000000          24.000000
380        Jayden Seales    WIN_38           3.400000           1.700000
381     Romario Shepherd    WIN_39          15.880000          12.806452
382       Kevin Sinclair    WIN_40          12.666667           5.428571
383          Odean Smith    WIN_41          24.875000          22.111111
384        Oshane Thomas    WIN_42           1.571429           0.880000
385         Hayden Walsh    WIN_43          12.333333           6.727273

### Centuries per Match
- Higher values suggest a batsman who consistently performs exceptionally well by scoring centuries.

In [52]:
player_df['Bat_Cent_Per_Match'] = player_backup.apply(lambda row: calc_parameters(row['Centuries'], row['Matches']), axis=1)

In [53]:
player_df.tail(10)

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match
376,Rovman Powell,WIN_34,20.395833,19.196078,0.019608
377,Raymon Reifer,WIN_35,10.200000,8.500000,0.000000
378,Kemar Roach,WIN_36,5.133333,3.242105,0.000000
379,Sherfane Rutherford,WIN_37,24.000000,24.000000,0.000000
380,Jayden Seales,WIN_38,3.400000,1.700000,0.000000
381,Romario Shepherd,WIN_39,15.880000,12.806452,0.000000
382,Kevin Sinclair,WIN_40,12.666667,5.428571,0.000000
383,Odean Smith,WIN_41,24.875000,22.111111,0.000000
384,Oshane Thomas,WIN_42,1.571429,0.880000,0.000000
385,Hayden Walsh,WIN_43,12.333333,6.727273,0.000000

### Centuries per Inning
- Higher values indicate a batsman who tends to score centuries more frequently per inning.

In [54]:
player_df['Bat_Cent_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Centuries'], row['Innings']), axis=1)

In [55]:
player_df.tail(10)

,Name,Player_ID,Bat_Run_Per_Inngs,Bat_Run_Per_Match,Bat_Cent_Per_Match,Bat_Cent_Per_Inngs
376,Rovman Powell,WIN_34,20.395833,19.196078,0.019608,0.020833
377,Raymon Reifer,WIN_35,10.200000,8.500000,0.000000,0.000000
378,Kemar Roach,WIN_36,5.133333,3.242105,0.000000,0.000000
379,Sherfane Rutherford,WIN_37,24.000000,24.000000,0.000000,0.000000
380,Jayden Seales,WIN_38,3.400000,1.700000,0.000000,0.000000
381,Romario Shepherd,WIN_39,15.880000,12.806452,0.000000,0.000000
382,Kevin Sinclair,WIN_40,12.666667,5.428571,0.000000,0.000000
383,Odean Smith,WIN_41,24.875000,22.111111,0.000000,0.000000
384,Oshane Thomas,WIN_42,1.571429,0.880000,0.000000,0.000000
385,Hayden Walsh,WIN_43,12.333333,6.727273,0.000000,0.000000

In [56]:
# player_df['Bat_Cent_Per_Inngs'] = player_backup.apply(lambda row: calc_parameters(row['Centuries'], row['Innings']), axis=1)

In [57]:
# player_df.columns.tolist()